<!-- eslint-disable -->
<template>
	<v-card height="100%">
		<v-form @submit.prevent="sendAbility">
			<v-card-text class="mt-3">
				<div class="row">
					<v-col class="d-flex" cols="12" xl="3">
						<v-text-field
							dense
							type="text"
							label="Titulo"
							outlined
							v-model="ability.title"
							:error-messages="errors.title"
						/>
					</v-col>
					<v-col class="d-flex" cols="12" xl="6">
						<v-text-field
							dense
							type="text"
							label="Descripción"
							outlined
							v-model="ability.description"
							:error-messages="errors.description"
						/>
					</v-col>
					<v-col class="d-flex" cols="12" xl="3">
						<v-combobox
							outlined
							dense
              small-chips
							v-model="ability.modulo"
							:items="modulos"
							label="Modulo"
							:error-messages="errors.modulo"
						/>
					</v-col>
				</div>
			</v-card-text>
			<v-card-actions>
				<v-btn color="success" type="submit" :disabled="isLoading">{{
					title
				}}</v-btn>
				<v-btn color="error" @click="$router.push({ name: 'abilities' })">
					cancelar
				</v-btn>
			</v-card-actions>
		</v-form>
	</v-card>
</template>

<script>
import { mapActions, mapState } from 'vuex';
export default {
	name: 'Formulario',
	computed: {
		...mapState({
			errors: state => state.errors,
			ability: state => state.Abilities.resource,
			isLoading: state => state.Abilities.loader,
			collection: state => state.Abilities.collection
		}),
		modulos() {
			let filtrados = this.collection.filter(x => x.modulo);
			return [...new Set(filtrados.map(x => x.modulo))].sort();
		},
		title() {
			return this.ability.id ? 'actualizar' : 'guardar';
		}
	},
	methods: {
		...mapActions('Abilities', ['sendAbility'])
	}
};
</script>
