<!-- eslint-disable -->
<template>
	<v-card height="100%">
		<v-card-text class="mt-3">
			<v-row>
				<v-col cols="12" md="4">
					<v-btn
						small
						color="success"
						class="mt-5"
						v-if="user.email == 'developer@zamgod.mx'"
						@click="newAbility"
					>
						<v-icon>mdi-plus</v-icon>
					</v-btn>
					<v-btn small color="info" class="mt-5 ml-3" @click="getAll">
						<v-icon>mdi-refresh</v-icon>
					</v-btn>
				</v-col>
				<v-col cols="12" xl="4" offset-xl="4">
					<v-container>
						<v-text-field
							v-model="search"
							append-icon="mdi-magnify"
							label="Busqueda"
							single-line
							hide-details
						/>
					</v-container>
				</v-col>
			</v-row>
			<v-data-table
				dense
				mobile-breakpoint="0"
				:headers="headers"
				:items="items"
				class="elevation-1"
				:search.sync="search"
				:item-class="row_classes"
				:items-per-page="perPage"
			/>
		</v-card-text>
	</v-card>
</template>

<script>
import { mapActions, mapState } from 'vuex';
export default {
	name: 'Abilities',
	data: () => ({
		perPage: 15
	}),
	computed: {
		...mapState({
			items: state => state.Abilities.collection,
			headers: state => state.Abilities.headers,
			loading: state => state.Abilities.loader,
			user: state => state.Auth.user
		}),
		search: {
			// getter
			get: function() {
				return this.$store.state.Abilities.search;
			},
			// setter
			set: function(newValue) {
				this.$store.commit('Abilities/setSearch', newValue);
			}
		}
	},
	mounted() {
		this.getAll();
	},
	methods: {
		...mapActions('Abilities', ['getAll', 'newAbility'])
	}
};
</script>
