<!-- eslint-disable -->
<template>
	<v-card height="100%" v-if="doctor">
		<v-form @submit.prevent="sendResource">
			<v-card-text>
				<v-row>
					<v-col cols="12" md="4">
						<v-text-field
							dense
							outlined
							label="Apellido Paterno"
							v-model="doctor.paterno"
							:error-messages="errors.paterno"
						/>
					</v-col>
					<v-col cols="12" md="4">
						<v-text-field
							dense
							outlined
							label="Apellido Materno"
							v-model="doctor.materno"
							:error-messages="errors.materno"
						/>
					</v-col>
					<v-col cols="12" md="4">
						<v-text-field
							dense
							outlined
							label="Nombre (s)"
							v-model="doctor.nombre"
							:error-messages="errors.nombre"
						/>
					</v-col>
					<v-col cols="12" md="2">
						<v-select
							dense
							outlined
							label="Sexo"
							:items="sexos"
							v-model="doctor.sexo"
							:error-messages="errors.sexo"
						/>
					</v-col>
					<v-col cols="12" md="2">
						<v-text-field
							dense
							outlined
							label="Fecha de Nacimiento"
							v-model="doctor.nacimiento"
							:error-messages="errors.nacimiento"
							type="date"
							:max="today"
						/>
					</v-col>
					<v-col cols="12" md="4">
						<v-text-field
							dense
							outlined
							label="Correo Electrónico"
							v-model="doctor.email"
							:error-messages="errors.email"
						/>
					</v-col>
					<v-col cols="12" md="4">
						<v-text-field
							dense
							outlined
							label="Teléfono"
							v-model="doctor.telefono"
							:error-messages="errors.telefono"
						/>
					</v-col>
					<v-col cols="12" md="6">
						<v-textarea outlined label="Domicilio" v-model="doctor.domicilio" />
					</v-col>
					<v-col cols="12" md="6">
						<v-textarea
							outlined
							label="Observaciones"
							v-model="doctor.observaciones"
						/>
					</v-col>
				</v-row>
			</v-card-text>
			<v-card-actions>
				<v-btn color="error" @click="$router.go(-1)">cancelar</v-btn>
				<v-btn color="success" type="submit" :disabled="btnEnabled">
					{{ btnTitle }}
				</v-btn>
			</v-card-actions>
		</v-form>
	</v-card>
</template>

<script>
import { mapActions, mapState } from 'vuex';
export default {
	name: 'Form',
	data: () => ({
		original: undefined,
		sexos: [
			{ value: 'M', text: 'Masculino' },
			{ text: 'Femenino', value: 'F' }
		]
	}),
	computed: {
		...mapState({
			doctor: state => state.Doctores.resource,
			loader: state => state.Doctores.loader,
			errors: state => state.errors
		}),
		btnEnabled() {
			return JSON.stringify(this.doctor) === JSON.stringify(this.original);
		},
		btnTitle() {
			return this.doctor.id ? 'actualizar' : 'guardar';
		},
		today() {
			return new Date().toISOString().split('T')[0];
		}
	},
	mounted() {
		if (!this.doctor) {
			if (this.$route.params.id) {
				this.getResource({ id: this.$route.params.id });
			} else {
				this.$store.commit('Doctores/setResource', {});
			}
		}
		this.$store.commit('setErrors', []);
		this.original = Object.assign({}, this.doctor);
	},
	methods: {
		...mapActions('Doctores', ['sendResource', 'getResource'])
	},
	watch: {
		doctor: function(val) {
			this.original = Object.assign({}, val);
		}
	}
};
</script>
