<!-- eslint-disable -->
<template>
	<v-card height="100%">
		<v-card-text>
			<v-row>
				<v-col cols="12" md="4">
					<v-btn
						small
						color="success"
						class="mt-5"
						:disabled="loader"
						v-if="userCan('crear-paciente')"
						@click="nuevo"
					>
						<v-icon>mdi-plus</v-icon>
					</v-btn>
					<v-btn
						small
						color="info"
						class="mt-5 ml-3"
						@click="getAll"
						:disabled="loader"
					>
						<v-icon>mdi-refresh</v-icon>
					</v-btn>
				</v-col>
				<v-col cols="12" xl="4" offset-xl="4">
					<v-container>
						<v-text-field
							v-model="search"
							append-icon="mdi-magnify"
							label="Busqueda"
							single-line
							hide-details
						/>
					</v-container>
				</v-col>
			</v-row>
			<v-data-table
				dense
				:headers="headers"
				:items="items"
				class="elevation-1"
				:search.sync="search"
				:item-class="row_classes"
				mobile-breakpoint="0"
				:items-per-page="perPage"
			>
				<template v-slot:[`item.nacimiento`]="{ item }">
					{{ item.nacimiento | date }}
				</template>
				<template v-slot:[`item.actions`]="{ item }">
					<v-btn
						icon
						color="success"
						v-if="userCan('editar-paciente')"
						:disabled="loader"
						@click="getResource(item)"
					>
						<v-icon>mdi-pencil</v-icon>
					</v-btn>
					<v-btn
						icon
						color="red"
						@click="eliminar(item)"
						:disabled="loader"
						v-if="userCan('eliminar-paciente')"
					>
						<v-icon>mdi-delete</v-icon>
					</v-btn>
				</template>
			</v-data-table>
		</v-card-text>
	</v-card>
</template>

<script>
import { mapActions, mapState } from 'vuex';
export default {
	name: 'Doctores',
	data: () => ({
		search: undefined,
		perPage: 15
	}),
	computed: {
		...mapState({
			headers: state => state.Doctores.headers,
			items: state => state.Doctores.collection,
			loader: state => state.Doctores.loader
		})
	},
	mounted() {
		if (!this.items) {
			this.getAll();
		}
	},
	methods: {
		...mapActions('Doctores', ['getAll', 'getResource', 'removeDoctor']),
		nuevo() {
			this.$store.commit('Doctores/setResource');
			this.$router.push({ name: 'doctores.create' }).catch(() => {});
		},
		eliminar(item) {
			let pregunta = `¿Deseas eliminar al doctor ${item.nombre}?`,
				text = 'Esta accion no puede deshacerse';
			window
				.swal({
					title: pregunta,
					text: text,
					icon: 'warning',
					buttons: ['Cancelar', 'Confirmar'],
					dangerMode: true
				})
				.then(confirmado => {
					if (confirmado) {
						this.removeDoctor(item.id);
					}
				});
		}
	}
};
</script>
