<!-- eslint-disable -->
<template>
	<v-card height="100%">
		<v-card-text>
			<v-row>
				<v-col cols="12">
					<v-form @submit.prevent="buscar">
						<v-row>
							<v-col cols="12" md="3">
								<v-text-field
									dense
									outlined
									label="Apellido Paterno"
									v-model="paginado.paterno"
								/>
							</v-col>
							<v-col cols="12" md="3">
								<v-text-field
									dense
									outlined
									label="Apellido Materno"
									v-model="paginado.materno"
								/>
							</v-col>
							<v-col cols="12" md="3">
								<v-text-field
									dense
									outlined
									label="Nombre"
									v-model="paginado.nombre"
								/>
							</v-col>
							<v-col>
								<v-btn color="primary" type="submit" :disabled="loader">
									buscar
								</v-btn>
								<v-btn
									color="blue"
									class="ml-3"
									dark
									:disabled="loader"
									@click="limpiar"
									v-if="filtrado"
								>
									<v-icon>mdi-eraser</v-icon>
								</v-btn>
								<v-btn
									color="success"
									class="ml-3"
									:disabled="loader"
									v-if="userCan('crear-doctores')"
									@click="nuevo"
								>
									<v-icon>mdi-plus</v-icon>
								</v-btn>
							</v-col>
						</v-row>
					</v-form>
				</v-col>
			</v-row>

			<v-data-table
				dense
				:headers="headers"
				:items="items"
				class="elevation-1 mt-3"
				hide-default-footer
				mobile-breakpoint="0"
				:items-per-page="paginado.perPage"
			>
				<template v-slot:[`item.nacimiento`]="{ item }">
					{{ item.nacimiento | date }}
				</template>
				<template v-slot:[`item.actions`]="{ item }">
					<v-btn
						icon
						color="success"
						v-if="userCan('editar-doctores')"
						:disabled="loader"
						@click="getResource(item)"
					>
						<v-icon>mdi-pencil</v-icon>
					</v-btn>
					<v-btn
						icon
						color="red"
						@click="eliminar(item)"
						:disabled="loader"
						v-if="userCan('eliminar-doctores')"
					>
						<v-icon>mdi-delete</v-icon>
					</v-btn>
				</template>
			</v-data-table>
			<v-row v-if="paginado.totalPaginas">
				<v-col class="mt-5">
					Registros Encontrados: {{ paginado.registros | numero }}
				</v-col>
				<v-col cols="12" md="8">
					<v-pagination
						class="mt-3"
						v-model="paginado.currentPage"
						:length="paginado.totalPaginas"
						total-visible="8"
					/>
				</v-col>
				<v-col class="mt-3" cols="12" md="2">
					<v-form @submit.prevent="buscar1" v-if="paginado.totalPaginas > 10">
						<v-text-field
							dense
							outlined
							label="Ir a la Página"
							v-model="paginaBuscada"
						/>
					</v-form>
				</v-col>
			</v-row>
		</v-card-text>
	</v-card>
</template>

<script>
import { mapActions, mapState } from 'vuex';
export default {
	name: 'Pruebas',
	data: () => ({
		paginaBuscada: undefined
	}),
	computed: {
		...mapState({
			items: state => state.Doctores.collection,
			paginado: state => state.Doctores.paginado,
			actual: state => state.Doctores.paginado.currentPage,
			headers: state => state.Doctores.headers,
			loader: state => state.Doctores.loader
		}),
		filtrado() {
			if (this.paginado.nombre) return true;
			if (this.paginado.paterno) return true;
			if (this.paginado.materno) return true;
			return false;
		}
	},
	mounted() {
		if (!this.items.length) {
			this.buscar();
		}
	},
	methods: {
		buscar() {
			this.getPaginado();
		},
		...mapActions('Doctores', ['getPaginado', 'getResource', 'removeDoctor']),
		buscar1() {
			this.paginado.currentPage = this.paginaBuscada;
			this.paginaBuscada = undefined;
		},
		nuevo() {
			this.$store.commit('Doctores/setResource');
			this.$router.push({ name: 'doctores.create' }).catch(() => {});
		},
		eliminar(item) {
			let pregunta = `¿Deseas eliminar al doctor ${item.nombre}?`,
				text = 'Esta accion no puede deshacerse';
			window
				.swal({
					title: pregunta,
					text: text,
					icon: 'warning',
					buttons: ['Cancelar', 'Confirmar'],
					dangerMode: true
				})
				.then(confirmado => {
					if (confirmado) {
						this.removeDoctor(item.id);
					}
				});
		},
		limpiar() {
			this.paginado.paterno = this.paginado.materno = this.paginado.nombre = this.paginado.currentPage = null;
			this.getPaginado();
		}
	},
	watch: {
		actual() {
			this.getPaginado();
		}
	}
};
</script>
