<!-- eslint-disable -->
<template>
	<v-card height="100%">
		<v-card-text>
			<v-row class="mb-5">
				<v-col>
					<v-btn
						small
						color="info"
						@click="$store.dispatch('Pagos/getAll')"
						:disabled="loader"
					>
						<v-icon>mdi-refresh</v-icon>
					</v-btn>
				</v-col>
			</v-row>
			<v-data-table
				dense
				:headers="headers"
				:items="items"
				class="elevation-1 mt-3"
				hide-default-footer
				:items-per-page="items.length"
			>
				<template v-slot:[`item.fecha`]="{ item }">
					{{ item.fecha | dateTime }}
				</template>
				<template v-slot:[`item.importe`]="{ item }">
					{{ item.importe | moneda }}
				</template>
				<template v-slot:[`item.actions`]="{ item }">
					<v-btn
						icon
						color="red"
						@click="eliminar(item)"
						:disabled="loader"
						v-if="userCan('eliminar-pagos')"
					>
						<v-icon>mdi-delete</v-icon>
					</v-btn>
					<v-btn
						icon
						color="primary"
						:disabled="loader"
						v-if="userCan('imprimir-pagos')"
					>
						<v-icon>mdi-printer</v-icon>
					</v-btn>
				</template>
			</v-data-table>
			<v-row v-if="!loader && items && items.length">
				<v-col class="mt-5">
					Registros Encontrados: {{ paginado.registros | numero }}
				</v-col>
				<v-col cols="12" md="8">
					<v-pagination
						class="mt-3"
						v-model="paginado.currentPage"
						:length="paginado.lastPage"
						total-visible="8"
					/>
				</v-col>
				<v-col class="mt-3" cols="12" md="2">
					<v-form @submit.prevent="buscar" v-if="paginado.lastPage > 10">
						<v-text-field
							dense
							outlined
							label="Ir a la Página"
							v-model="paginado.buscada"
						/>
					</v-form>
				</v-col>
			</v-row>
		</v-card-text>
	</v-card>
</template>

<script>
import { mapState } from 'vuex';
export default {
	name: 'Pagos',
	data: () => ({
		headers: [
			{ value: 'folio', text: 'Folio' },
			{ value: 'fecha', text: 'Fecha' },
			{ value: 'orden', text: 'Orden' },
			{ value: 'formaPago', text: 'Forma de Pago' },
			{ value: 'referencia', text: 'Referencia' },
			{ value: 'user', text: 'Cajero' },
			{ value: 'importe', text: 'importe', align: 'end' },
			{ value: 'actions', text: 'Acciones', align: 'end' }
		]
	}),
	computed: {
		...mapState({
			items: state => state.Pagos.collection,
			loader: state => state.Pagos.loader,
			paginado: state => state.Pagos.paginado
		})
	},
	beforeMount() {
		this.$store.dispatch('Pagos/getAll');
	},
	methods: {
		eliminar(item) {
			let pregunta = `¿Deseas eliminar el pago ${item.folio}?`,
				text = 'Esta accion no puede deshacerse';
			window
				.swal({
					title: pregunta,
					text: text,
					icon: 'warning',
					buttons: ['Cancelar', 'Confirmar'],
					dangerMode: true
				})
				.then(confirmado => {
					if (confirmado) {
						this.$store.dispatch('Pagos/destroyPago', item.id);
					}
				});
		}
	}
};
</script>
