<!-- eslint-disable -->
<template>
	<v-card height="100%">
		<v-card-text v-if="muestra">
			<v-row>
				<v-col cols="12" md="6">
					<v-card class="mb-3">
						<v-card-title primary-title>
							Orden
						</v-card-title>
						<v-card-text>
							<v-row>
								<v-col> N° de Orden: {{ muestra.orden }} <br /> </v-col>
								<v-col> Paciente: {{ paciente.nombre }} </v-col>
								<v-col> Sexo: {{ paciente.sexo }} </v-col>
								<v-col> Edad: {{ paciente.edad }}</v-col>
							</v-row>
						</v-card-text>
					</v-card>
				</v-col>
				<v-col cols="12" md="6">
					<v-card class="mb-3">
						<v-card-title primary-title>
							Muestra
						</v-card-title>
						<v-card-text>
							<v-row>
								<v-col> Tipo de Muestra: {{ muestra.tipo }} </v-col>
								<v-col>
									Toma de Muestra: {{ muestra.created_at | dateTime }}
								</v-col>
								<v-col> Usuario: {{ muestra.user }} </v-col>
							</v-row>
						</v-card-text>
					</v-card>
				</v-col>
				<v-col cols="12" md="6" v-if="muestra.recep_lab">
					<v-card>
						<v-card-title primary-title>
							Laboratorio
						</v-card-title>
						<v-card-text>
							<v-row>
								<v-col> Ingreso: {{ muestra.recep_lab | dateTime }} </v-col>
								<v-col> Recibió: {{ muestra.receptorLab }} </v-col>
							</v-row>
						</v-card-text>
					</v-card>
				</v-col>
				<v-col cols="12" md="6" v-if="muestra.recep_lab">
					<v-card>
						<v-card-title primary-title>
							Análisis Realizados
						</v-card-title>
						<v-card-text>
							tabla con las mediciones realizadas y quien las realizo
						</v-card-text>
					</v-card>
				</v-col>
			</v-row>
		</v-card-text>
		<v-card-actions>
			<v-btn color="primary" @click="$router.push({ name: 'muestras' })">
				regresar
			</v-btn>
		</v-card-actions>
	</v-card>
</template>

<script>
import { mapState } from 'vuex';
export default {
	name: 'Details',
	computed: {
		...mapState({
			resource: state => state.Muestras.resource,
			paciente: state => state.Muestras.resource.paciente
		}),
		muestra() {
			return this.resource ? this.resource.muestra : undefined;
		}
	},
	beforeMount() {
		if (!this.resource) {
			this.$store.dispatch('Muestras/detailMuestra', {
				id: this.$route.params.id
			});
		}
	}
};
</script>
