<!-- eslint-disable -->
<template>
	<v-card height="100%">
		<v-form @submit.prevent="$store.dispatch('Muestras/storeResource')">
			<v-card-text v-if="muestra">
				<v-row>
					<v-col>
						<v-select
							dense
							outlined
							clearable
							:items="folios"
							v-model="ordenId"
							label="Seleccione una Orden"
							:error-messages="errors.orden_id"
						/>
					</v-col>
					<v-col>
						<v-select
							dense
							outlined
							clearable
							:items="tipos"
							v-model="tipo"
							label="Seleccione el tipo de muestra"
							:error-messages="errors.tipo"
						/>
					</v-col>
					<v-col cols="12">
						<v-textarea
							outlined
							label="Observaciones"
							v-model="muestra.observaciones"
						/>
					</v-col>
				</v-row>
			</v-card-text>
			<v-card-actions>
				<v-btn
					color="error"
					@click="$router.push({ name: 'muestras' })"
					:disabled="loader"
					>cancelar</v-btn
				>
				<v-btn color="success" type="submit" :disabled="loader">
					{{ btnTitle }}
				</v-btn>
			</v-card-actions>
		</v-form>
	</v-card>
</template>

<script>
import { mapState } from 'vuex';
export default {
	name: 'Form',
	data: () => ({
		ordenId: undefined,
		tipo: undefined
	}),
	computed: {
		...mapState({
			loader: state => state.Muestras.loader,
			muestra: state => state.Muestras.resource,
			ordenes: state => state.Muestras.ordenes,
			errors: state => state.errors
		}),
		folios() {
			let items = [];
			if (this.ordenes) {
				this.ordenes.forEach(x => {
					let item = { value: x.id, text: `${x.folio} - ${x.paciente}` };
					items.push(item);
				});
			}
			return items;
		},
		btnTitle() {
			if (!this.muestra) return '';
			return this.muestra.id ? 'actualizar' : 'guardar';
		},
		seleccionado() {
			if (!this.ordenId) return {};
			return this.ordenes.find(x => x.id == this.ordenId);
		},
		tipos() {
			return this.seleccionado.tipos;
		}
	},
	beforeMount() {
		if (!this.muestra) {
			if (this.$route.params.id) {
				//
			} else {
				this.$store.dispatch('Muestras/nueva');
			}
		}
		if (!this.ordenes) this.$store.dispatch('Muestras/getAll');
	},
	mounted() {
		this.$store.commit('setErrors');
	},
	watch: {
		ordenId: function(val) {
			this.tipo = undefined;
			this.muestra.observaciones = undefined;
			this.muestra.orden_id = undefined;

			if (val) {
				this.muestra.orden_id = val;
			}
		},
		tipo: function(val) {
			this.muestra.tipo = undefined;
			if (val) this.muestra.tipo = val;
		}
	}
};
</script>
