<!-- eslint-disable -->
<template>
	<v-card height="100%">
		<v-card-text>
			<v-row>
				<v-col>
					<v-btn
						small
						color="success"
						v-if="ordenes && ordenes.length && userCan('crear-muestras')"
						@click="$store.dispatch('Muestras/nueva')"
					>
						<v-icon>mdi-plus</v-icon>
					</v-btn>
					<v-btn
						small
						color="info"
						class=" ml-3"
						@click="$store.dispatch('Muestras/getAll')"
					>
						<v-icon>mdi-refresh</v-icon>
					</v-btn>
				</v-col>
			</v-row>
			<v-data-table
				dense
				mobile-breakpoint="0"
				hide-default-footer
				:headers="headers"
				:items="items"
				class="elevation-1 mt-3"
			>
				<template v-slot:[`item.created_at`]="{ item }">
					{{ item.created_at | dateTime }}
				</template>
				<template v-slot:[`item.actions`]="{ item }">
					<v-btn
						icon
						color="success"
						v-if="userCan('recibir-muestra-lab') && !item.recep_lab"
						@click="recibirLab(item)"
					>
						<v-icon>mdi-check-box-outline</v-icon>
					</v-btn>
					<v-btn
						icon
						color="primary"
						:disabled="loader"
						v-if="userCan('ver-detalle-muestra')"
						@click="$store.dispatch('Muestras/detailMuestra', item)"
					>
						<v-icon>mdi-history</v-icon>
					</v-btn>
					<v-btn
						icon
						color="red"
						:disabled="loader"
						v-if="userCan('eliminar-muestras')"
						@click="eliminar(item)"
					>
						<v-icon>mdi-delete</v-icon>
					</v-btn>
				</template>
			</v-data-table>
			<v-row v-if="!loader && items && items.length">
				<v-col class="mt-5">
					Registros Encontrados: {{ paginado.registros | numero }}
				</v-col>
				<v-col cols="12" md="8">
					<v-pagination
						class="mt-3"
						v-model="paginado.currentPage"
						:length="paginado.lastPage"
						total-visible="8"
					/>
				</v-col>
				<v-col class="mt-3" cols="12" md="2">
					<v-form @submit.prevent="buscar" v-if="paginado.lastPage > 10">
						<v-text-field
							dense
							outlined
							label="Ir a la Página"
							v-model="paginado.buscada"
						/>
					</v-form>
				</v-col>
			</v-row>
		</v-card-text>
	</v-card>
</template>

<script>
import { mapState } from 'vuex';
export default {
	name: 'Muestras',
	computed: {
		...mapState({
			loader: state => state.Muestras.loader,
			items: state => state.Muestras.collection,
			headers: state => state.Muestras.headers,
			paginado: state => state.Muestras.paginado,
			ordenes: state => state.Muestras.ordenes
		})
	},
	mounted() {
		this.$store.dispatch('Muestras/getAll');
	},
	methods: {
		eliminar(item) {
			let pregunta = `¿Deseas Eliminar la muestra ${item.folio}?`,
				text = 'Esta acción no puede deshacerse';
			window
				.swal({
					title: pregunta,
					text: text,
					icon: 'warning',
					buttons: ['Cancelar', 'Confirmar'],
					dangerMode: true
				})
				.then(confirmado => {
					if (confirmado) {
						this.$store.dispatch('Muestras/destroyResource', item.id);
					}
				});
		},
		recibirLab(item) {
			let pregunta = `¿Deseas Ingresar la muestra ${item.folio} a laboratorio?`,
				text = 'Esta acción no puede deshacerse';
			window
				.swal({
					title: pregunta,
					text: text,
					icon: 'warning',
					buttons: ['Cancelar', 'Confirmar'],
					dangerMode: true
				})
				.then(confirmado => {
					if (confirmado) {
						this.$store.dispatch('Muestras/recibirLab', item.id);
					}
				});
		}
	}
};
</script>
