<!-- eslint-disable -->
<template>
	<v-card height="100%" v-if="role">
		<v-form @submit.prevent="sendRole">
			<v-card-text class="mt-3">
				<v-row>
					<v-col cols="12" md="3">
						<v-text-field
							outlined
							dense
							type="text"
							label="Título"
							v-model="role.title"
							:error-messages="errors.title"
							:disabled="editable"
						/>
					</v-col>
					<v-col cols="12" md="9">
						<v-text-field
							outlined
							dense
							type="text"
							label="Descripción"
							v-model="role.description"
							:error-messages="errors.description"
						/>
					</v-col>
				</v-row>
			</v-card-text>
			<v-card-text v-if="role.id">
				<h2>Permisos</h2>
				<v-row>
					<v-col cols="12" md="4" v-for="modulo in modulos" :key="modulo">
						<v-card class="mt-3" height="98%">
							<v-card-title> MÓDULO {{ modulo }} </v-card-title>
							<v-card-text>
								<v-checkbox
									v-for="permiso in buscar(modulo)"
									:key="permiso.value"
									v-model="role.permisos"
									:label="permiso.description"
									:value="permiso.name"
								/>
							</v-card-text>
						</v-card>
					</v-col>
				</v-row>
			</v-card-text>
			<v-card-actions>
				<v-btn color="success" type="submit" :disabled="loading">
					{{ btnText }}
				</v-btn>

				<v-btn color="error" @click="$router.push({ name: 'roles' })">
					Cancelar
				</v-btn>
			</v-card-actions>
		</v-form>
	</v-card>
</template>

<script>
import { mapActions, mapState } from 'vuex';
export default {
	name: 'RoleForm',
	data: () => ({
		original: undefined
	}),
	computed: {
		...mapState({
			abilities: state => state.Roles.abilities,
			role: state => state.Roles.resource,
			loading: state => state.Roles.loader,
			errors: state => state.errors
		}),
		modificado() {
			return JSON.stringify(this.role) !== JSON.stringify(this.original);
		},
		btnText() {
			return this.role.id ? 'actualizar' : 'guardar';
		},
		editable() {
			return this.role.id ? true : false;
		},
		modulos() {
			let filtrados = this.abilities.filter(x => x.modulo);
			return [...new Set(filtrados.map(x => x.modulo))].sort();
		}
	},
	mounted() {
		if (!this.role) {
			let id = this.$route.params.id;
			if (!id) {
				this.nuevo();
			} else {
				this.getRole(id);
			}
		}
		this.original = Object.assign({}, this.role);
	},
	watch: {
		role: function(val) {
			this.original = Object.assign({}, val);
		}
	},
	methods: {
		...mapActions('Roles', ['nuevo', 'getRole', 'sendRole']),
		buscar(modulo) {
			return this.abilities.filter(x => x.modulo == modulo);
		}
	}
};
</script>

<style lang="scss" scoped>
.v-label {
	font-size: 14px;
	color: rgba(0, 0, 0, 0.9);
}
.v-input--selection-controls {
	margin-top: 1px !important;
	padding-top: 0px !important;
}
</style>
