<!-- eslint-disable -->
<template>
	<v-card height="100%">
		<v-card-text class="mt-3">
			<v-row>
				<v-col cols="12" md="4">
					<v-btn
						small
						color="success"
						class="mt-5"
						:disabled="loading"
						v-if="userCan('crear-role')"
						@click="nuevo"
					>
						<v-icon>mdi-plus</v-icon>
					</v-btn>
					<v-btn
						small
						color="info"
						class="mt-5 ml-3"
						@click="getAll"
						:disabled="loading"
					>
						<v-icon>mdi-refresh</v-icon>
					</v-btn>
					<v-btn
						small
						color="error"
						class="mt-5 ml-3"
						:disabled="loading"
						v-if="sinUsar && userCan('eliminar-role')"
						@click="eliminarSinUso"
						>Elimininar Roles sin uso</v-btn
					>
				</v-col>
				<v-col cols="12" xl="4" offset-xl="4">
					<v-container>
						<v-text-field
							v-model="search"
							append-icon="mdi-magnify"
							label="Busqueda"
							single-line
							hide-details
						/>
					</v-container>
				</v-col>
			</v-row>
			<v-data-table
				dense
				mobile-breakpoint="0"
				:headers="headers"
				:items="items"
				class="elevation-1"
				:search.sync="search"
				:item-class="row_classes"
			>
				<template v-slot:[`item.actions`]="{ item }">
					<div>
						<v-btn
							icon
							color="success"
							v-if="item.actions.edit"
							:disabled="loading"
							@click="getRole(item.id)"
						>
							<v-icon>mdi-pencil</v-icon>
						</v-btn>
						<v-btn
							icon
							color="red"
							v-if="item.actions.delete"
							:disabled="loading"
							@click="eliminar(item)"
						>
							<v-icon>mdi-delete</v-icon>
						</v-btn>
					</div>
				</template>
			</v-data-table>
		</v-card-text>
	</v-card>
</template>

<script>
import { mapActions, mapState } from 'vuex';
export default {
	name: 'Roles',
	data: () => ({
		search: undefined
	}),
	computed: {
		...mapState({
			items: state => state.Roles.collection,
			headers: state => state.Roles.headers,
			loading: state => state.Roles.loader,
			user: state => state.Auth.user
		}),
		sinUsar() {
			return this.items.filter(x => x.users == 0).length ? true : false;
		}
	},
	mounted() {
		this.getAll();
	},
	methods: {
		...mapActions('Roles', [
			'getAll',
			'nuevo',
			'getRole',
			'deleteRole',
			'deleteAll'
		]),
		eliminar(item) {
			let pregunta = `¿Deseas eliminar el rol ${item.title}?`;
			window
				.swal({
					title: pregunta,
					icon: 'warning',
					buttons: ['Cancelar', 'Confirmar'],
					dangerMode: true
				})
				.then(confirmado => {
					if (confirmado) {
						this.deleteRole(item.id);
					}
				});
		},
		eliminarSinUso() {
			let pregunta = `¿Deseas eliminar los roles sin uso?`;
			window
				.swal({
					title: pregunta,
					icon: 'warning',
					buttons: ['Cancelar', 'Confirmar'],
					dangerMode: true
				})
				.then(confirmado => {
					if (confirmado) {
						this.deleteAll();
					}
				});
		}
	}
};
</script>

