<!-- eslint-disable -->
<template>
	<v-card height="100%" v-if="items">
		<v-card-text>
			<v-row>
				<v-col cols="12" md="4">
					<v-btn
						small
						color="success"
						class="mt-5"
						@click="nuevo"
						v-if="userCan('crear-orden')"
						:disabled="loader"
					>
						<v-icon>mdi-plus</v-icon>
					</v-btn>
				</v-col>
				<v-col cols="12" xl="4" offset-xl="4">
					<v-container>
						<v-text-field
							v-model="search"
							append-icon="mdi-magnify"
							label="Busqueda"
							single-line
							hide-details
						/>
					</v-container>
				</v-col>
			</v-row>
			<v-data-table
				dense
				:headers="headers"
				:items="items"
				mobile-breakpoint="0"
				class="elevation-1"
				:search.sync="search"
			>
				<template v-slot:[`item.created_at`]="{ item }">
					{{ item.created_at | fechaLarga }}
				</template>
				<template v-slot:[`item.id`]="{ item }">
					{{ item.id | folio }}
				</template>
				<template v-slot:[`item.fecha`]="{ item }">
					{{ item.fecha | fechaLarga }}
				</template>
				<template v-slot:[`item.actions`]="{ item }">
					
				</template>
			</v-data-table>
		</v-card-text>
		<v-card-actions>
			<v-btn color="primary" @click="regresar">regresar</v-btn>
		</v-card-actions>
	</v-card>
</template>

<script>
import { mapActions, mapState } from 'vuex';
export default {
	name: 'Historial',
	data: () => ({
		search: undefined,
		headers: [
			{ text: 'Folio', value: 'id' },
			{ text: 'Fecha de elaboración', value: 'created_at' },
			{ text: 'Fecha de Entrega', value: 'fecha' },
			{ text: 'Doctor', value: 'doctor' },
			{ text: 'Status', value: 'status' },
			{ text: 'Recibio', value: 'recibio' },
			{ text: 'Acciones', value: 'actions', align: 'end' }
		]
	}),
	computed: {
		...mapState({
			items: state => state.Pacientes.ordenes,
			loader: state => state.Pacientes.loader
		})
	},
	beforeMount() {
		let id = this.$route.params.id;
		if (!this.items) {
			this.$store.dispatch('Pacientes/historial', id);
		}
	},
	methods: {
		regresar() {
			this.$router.push({name:'pacientes'});
		},
		...mapActions('Pacientes', ['nuevaOrden']),
		nuevo() {
			let id = this.$route.params.id;
			this.nuevaOrden(id);
		}
	}
};
</script>
