<!-- eslint-disable -->
<template>
	<v-card height="100%" v-if="paciente">
		<v-form @submit.prevent="guardar">
			<v-card-text>
				<v-row>
					<v-col cols="12" md="4">
						<v-combobox
							dense
							outlined
							small-chips
							clearable
							:items="doctores"
							v-model="doctor"
							label="Doctor que atiende"
							item-value="value"
							:error-messages="errors.doctor_id"
						/>
					</v-col>
					<v-col>
						<v-text-field
							dense
							outlined
							type="date"
							label="Fecha de Entrega"
							:min="today"
							v-model="orden.fecha"
							:error-messages="errors.fecha"
						/>
					</v-col>
					<v-col>
						<v-text-field
							dense
							outlined
							type="time"
							label="Hora de Entrega"
							v-model="orden.hora"
							:error-messages="errors.hora"
						/>
					</v-col>
					<v-col cols="12">
						<v-textarea
							outlined
							label="Observaciones"
							v-model="orden.observaciones"
						/>
					</v-col>
					<v-col cols="12">
						<v-row>
							<v-col md="3">
								<v-checkbox
									v-model="mostrarEstudios"
									label="Mostrar Estudios"
								/>
							</v-col>
							<v-col md="3">
								<v-checkbox
									v-model="mostrarAnalisis"
									label="Mostrar Análisis"
								/>
							</v-col>
						</v-row>
					</v-col>
					<v-col cols="12">
						<v-row>
							<v-col v-if="importeEstudios > 0">
								Importe de los Estudios :
								{{ importeEstudios | moneda }}
							</v-col>
							<v-col v-if="importeAnalisis > 0">
								Importe de los Análisis :
								{{ importeAnalisis | moneda }}
							</v-col>
							<v-col v-if="importeEstudios > 0 || importeAnalisis > 0">
								Importe a pagar:
								{{ (importeAnalisis + importeEstudios) | moneda }}
							</v-col>
						</v-row>
					</v-col>
					<template v-if="mostrarEstudios">
						<v-col
							v-for="(categoria, i) in categorias"
							:key="i"
							cols="12"
							md="6"
						>
							<v-card class="my-3" height="95%">
								<v-card-title style="background:teal;color:white">
									Estudios Categoria {{ categoria }}
								</v-card-title>
								<v-card-text>
									<v-data-table
										dense
										mobile-breakpoint="0"
										hide-default-footer
										:items-per-page="estudiosCategoria(categoria).length"
										:headers="headers"
										:items="estudiosCategoria(categoria)"
										class="elevation-1"
									>
										<template v-slot:[`item.importe`]="{ item }">
											{{ item.importe | moneda }}
										</template>
										<template v-slot:[`item.seleccionar`]="{ item }">
											<v-simple-checkbox
												v-model="item.pagar"
												:ripple="false"
												color="success"
											/>
										</template>
									</v-data-table>
								</v-card-text>
							</v-card>
						</v-col>
					</template>
					<template v-if="mostrarAnalisis">
						<v-col v-for="(tipo, i) in tipos" :key="i" cols="12" md="6">
							<v-card class="my-3" height="95%">
								<v-card-title style="background:orange;color:white">
									Análisis Tipo {{ tipo }}
								</v-card-title>
								<v-card-text>
									<v-data-table
										dense
										mobile-breakpoint="0"
										hide-default-footer
										:items-per-page="analisisTipo(tipo).length"
										:headers="headers"
										:items="analisisTipo(tipo)"
										class="elevation-1"
									>
										<template v-slot:[`item.importe`]="{ item }">
											{{ item.importe | moneda }}
										</template>
										<template v-slot:[`item.seleccionar`]="{ item }">
											<v-simple-checkbox
												v-model="item.pagar"
												:ripple="false"
												color="success"
											/>
										</template>
									</v-data-table>
								</v-card-text>
							</v-card>
						</v-col>
					</template>
				</v-row>
			</v-card-text>
			<v-card-actions>
				<v-btn color="error" @click="historial(paciente.id)">Cancelar</v-btn>
				<v-btn color="success" type="submit" :disabled="!listo">guardar</v-btn>
			</v-card-actions>
		</v-form>
	</v-card>
</template>

<script>
import { mapActions, mapState } from 'vuex';
export default {
	name: 'Orden',
	data: () => ({
		orden: {},
		doctor: undefined,
		headers: [
			{ text: 'Nombre', value: 'nombre' },
			{ text: 'Importe', value: 'importe', align: 'end' },
			{ text: 'Seleccionar', value: 'seleccionar', align: 'end' }
		],
		mostrarEstudios: false,
		mostrarAnalisis: false
	}),
	computed: {
		...mapState({
			paciente: state => state.Pacientes.resource,
			loader: state => state.Pacientes.loader,
			doctores: state => state.Pacientes.doctores,
			estudios: state => state.Pacientes.estudios,
			analisis: state => state.Pacientes.analisis,
			errors: state => state.errors
		}),
		listo() {
			if (this.estudiosSeleccionados.length) return true;
			if (this.analisisSeleccionados.length) return true;
			return false;
		},
		today() {
			return new Date().toISOString().split('T')[0];
		},
		categorias() {
			return [...new Set(this.estudios.map(x => x.categoria))].sort();
		},
		tipos() {
			return [...new Set(this.analisis.map(x => x.tipo))].sort();
		},
		estudiosSeleccionados() {
			return this.estudios.filter(x => x.pagar);
		},
		analisisSeleccionados() {
			return this.analisis.filter(x => x.pagar);
		},
		importeEstudios() {
			return window._.sumBy(this.estudiosSeleccionados, 'importe');
		},
		importeAnalisis() {
			return window._.sumBy(this.analisisSeleccionados, 'importe');
		}
	},
	beforeMount() {
		this.$store.commit('setErrors');
		if (!this.paciente) {
			this.$store.dispatch('Pacientes/nuevaOrden', this.$route.params.id);
		}
	},
	mounted() {
		this.orden = { paciente_id: this.paciente.id };
	},
	methods: {
		...mapActions('Pacientes', ['historial']),
		...mapActions('Ordenes', ['sendOrden']),
		guardar() {
			this.orden.paciente_id = this.paciente.id;
			if (this.analisisSeleccionados.length) {
				this.orden.analisis = this.analisisSeleccionados;
			}
			if (this.estudiosSeleccionados.length) {
				this.orden.estudios = this.estudiosSeleccionados;
			}
			this.sendOrden(this.orden);
		},
		estudiosCategoria(categoria) {
			return this.estudios.filter(x => x.categoria == categoria);
		},
		analisisTipo(tipo) {
			return this.analisis.filter(x => x.tipo == tipo);
		}
	},
	watch: {
		doctor: function(value) {
			this.orden.doctor_id = value.value;
		}
	}
};
</script>
<style lang="scss" escoped>
.v-card__title {
	font-size: 1.1rem !important;
	padding: 5px 16px !important;
}
</style>
