<!-- eslint-disable -->
<template>
	<v-card height="100%" v-if="tipos">
		<v-form @submit.prevent="sendAnalisis">
			<v-card-text>
				<v-row>
					<v-col cols="12" md="3">
						<v-combobox
							dense
							outlined
							small-chips
							clearable
							:items="tipos"
							v-model="analisis.tipo"
							label="Tipo de Muestra"
							:error-messages="errors.tipo"
						/>
					</v-col>
					<v-col cols="12" md="6">
						<v-text-field
							dense
							outlined
							label="Nombre del Análisis"
							v-model="analisis.nombre"
							:error-messages="errors.nombre"
						/>
					</v-col>
					<v-col cols="12" md="3">
						<v-text-field
							dense
							outlined
							label="Importe"
							v-model.number="analisis.importe"
							:error-messages="errors.importe"
							type="number"
							step="0.01"
						/>
					</v-col>
					<v-col>
							<v-text-field
								dense
								outlined
								label="Unidad de Medida"
								v-model="analisis.unidadMedida"
								:error-messages="errors.unidadMedida"
							/>
						</v-col>
						<v-col> 
							<v-text-field
								dense
								outlined
								label="Método de Medición"
								v-model="analisis.metodo"
								:error-messages="errors.metodo"
							/>
						</v-col>
				</v-row>
				<v-row>
					<v-col>
						<v-textarea
							outlined
							label="Observaciones"
							v-model="analisis.observaciones"
						/>
					</v-col>
				</v-row>
			</v-card-text>
			<v-card-actions>
				<v-btn color="error" @click="$router.go(-1)" :disabled="loader">
					cancelar
				</v-btn>
				<v-btn color="success" type="submit" :disabled="loader">
					{{ btnTitle }}
				</v-btn>
			</v-card-actions>
		</v-form>
	</v-card>
</template>

<script>
import { mapActions, mapState } from 'vuex';
export default {
	name: 'Form',
	data: () => ({
		// original: undefined
	}),
	computed: {
		...mapState({
			analisis: state => state.Analisis.resource,
			loader: state => state.Analisis.loader,
			tipos: state => state.Analisis.tipos,
			errors: state => state.errors
		}),
		btnTitle() {
			return this.analisis.id ? 'actualizar' : 'guardar';
		}
	},
	mounted() {
		this.$store.commit('setErrors');
		if (!this.analisis) {
			this.$store.commit('Analisis/setResource');
		}
		if (!this.tipos) {
			this.$store.dispatch('Analisis/getAll');
		}
	},
	methods: {
		...mapActions('Analisis', ['sendAnalisis'])
	}
};
</script>
