<!-- eslint-disable -->
<template>
	<v-card height="100%">
		<v-card-text>
			<v-form @submit.prevent="getAll">
				<v-row>
					<v-col>
						<v-select
							dense
							outlined
							small-chips
							clearable
							label="Tipo de Muestra"
							:items="tipos"
							v-model="paginado.tipo"
							:disabled="loader"
						/>
					</v-col>
					<v-col>
						<v-text-field
							dense
							outlined
							label="Nombre del análisis"
							v-model="paginado.nombre"
							:disabled="loader"
						/>
					</v-col>
					<v-col>
						<v-btn
							color="primary"
							@click="getAll"
							:disabled="loader"
							type="submit"
						>
							buscar
						</v-btn>
						<v-btn
							color="blue"
							class="ml-3"
							dark
							:disabled="loader"
							v-if="filtrado"
							@click="limpiar"
						>
							<v-icon>mdi-eraser</v-icon>
						</v-btn>
						<v-btn
							color="success"
							class="ml-3"
							:disabled="loader"
							v-if="userCan('crear-analisis')"
							@click="nuevo"
						>
							<v-icon>mdi-plus</v-icon>
						</v-btn>
					</v-col>
				</v-row>
			</v-form>

			<v-data-table
				dense
				mobile-breakpoint="0"
				:headers="headers"
				:items="items"
				class="elevation-1"
				:items-per-page="paginado.perPage"
				hide-default-footer
			>
				<template v-slot:[`item.importe`]="{ item }">
					{{ item.importe | moneda }}
				</template>
				<template v-slot:[`item.actions`]="{ item }">
					<v-btn
						icon
						color="success"
						v-if="userCan('editar-analisis')"
						:disabled="loader"
						@click="getAnalisis(item)"
					>
						<v-icon>mdi-pencil</v-icon>
					</v-btn>
					<v-btn
						icon
						color="red"
						:disabled="loader"
						v-if="userCan('eliminar-analisis')"
						@click="eliminar(item)"
					>
						<v-icon>mdi-delete</v-icon>
					</v-btn>
				</template>
			</v-data-table>
			<v-row v-if="!loader && items && items.length">
				<v-col class="mt-5">
					Registros Encontrados: {{ paginado.registros | numero }}
				</v-col>
				<v-col cols="12" md="8">
					<v-pagination
						class="mt-3"
						v-model="paginado.currentPage"
						:length="paginado.lastPage"
						total-visible="8"
					/>
				</v-col>
				<v-col class="mt-3" cols="12" md="2">
					<v-form @submit.prevent="buscar" v-if="paginado.lastPage > 10">
						<v-text-field
							dense
							outlined
							label="Ir a la Página"
							v-model="paginado.buscada"
						/>
					</v-form>
				</v-col>
			</v-row>
		</v-card-text>
	</v-card>
</template>

<script>
import { mapActions, mapState } from 'vuex';
export default {
	name: 'Analisis',
	computed: {
		...mapState({
			loader: state => state.Analisis.loader,
			items: state => state.Analisis.collection,
			headers: state => state.Analisis.headers,
			paginado: state => state.Analisis.paginado,
			tipos: state => state.Analisis.tipos
		}),
		actual() {
			return this.paginado.currentPage;
		},
		filtrado() {
			return this.paginado.nombre || this.paginado.tipo ? true : false;
		}
	},
	beforeMount() {
		if (!this.items) this.getAll();
	},
	methods: {
		...mapActions('Analisis', [
			'getAll',
			'nuevo',
			'getAnalisis',
			'deleteAnalisis'
		]),
		buscar() {
			if (this.paginado.lastPage >= this.paginado.buscada) this.getAll();
		},
		limpiar() {
			this.paginado.nombre = this.paginado.tipo = null;
			this.getAll();
		},
		eliminar(item) {
			let pregunta = `¿Deseas Eliminar el análisis ${item.nombre}?`,
				text = 'Ya el estudio no estara disponible';
			window
				.swal({
					title: pregunta,
					text: text,
					icon: 'warning',
					buttons: ['Cancelar', 'Confirmar'],
					dangerMode: true
				})
				.then(confirmado => {
					if (confirmado) {
						this.deleteAnalisis(item.id);
					}
				});
		}
	},
	watch: {
		actual() {
			this.getAll();
		}
	}
};
</script>
