<!-- eslint-disable -->
<template>
	<v-dialog v-model="dialog" persistent max-width="650">
		<v-card>
			<v-card-title class="headline">
				{{ title }}
			</v-card-title>
			<v-form @submit.prevent="$store.dispatch('Analisis/sendReferencia')">
				<v-card-text>
					<v-row>
						<v-col>
							<v-text-field
								dense
								outlined
								label="Edad Mínimo"
								type="number"
								v-model.number="referencia.edad_minimo"
								:error-messages="errors.edad_minimo"
							/>
						</v-col>
						<v-col>
							<v-text-field
								dense
								outlined
								label="Edad Maximo"
								type="number"
								v-model.number="referencia.edad_maximo"
								:error-messages="errors.edad_maximo"
							/>
						</v-col>
						<v-col>
							<v-autocomplete
								dense
								outlined
								clearable
								label="Unidad de Tiempo"
								:items="unidades"
								v-model="referencia.edad_periodo"
								:error-messages="errorFecha"
							/>
						</v-col>
					</v-row>
					<v-divider></v-divider>
					<v-row class="mt-3">
						<v-col cols="12" md="6">
							<v-select
								dense
								outlined
								clearable
								label="Sexo"
								:items="sexos"
								v-model="referencia.sexo"
								:error-messages="errors.sexo"
							/>
						</v-col>

						<v-col cols="12" md="3">
							<v-text-field
								type="number"
								dense
								outlined
								clearable
								label="Mínimo"
								v-model="referencia.minimo"
								:error-messages="errors.minimo"
							/>
						</v-col>
						<v-col cols="12" md="3">
							<v-text-field
								type="number"
								dense
								outlined
								clearable
								label="Máximo"
								v-model="referencia.maximo"
								:error-messages="errors.maximo"
							/>
						</v-col>
						<v-col v-if="!referencia.unidadMedida">
							<v-combobox
								dense
								outlined
								clearable
								:items="unidades"
								label="Unidad de Medida"
								v-model="referencia.unidadMedida"
								:error-messages="errors.unidadMedida"
							/>
						</v-col>
						<v-col cols="12" v-if="!referencia.metodo">
							<v-textarea
								outlined
								clearable
								label="Método de Medición"
								v-model="referencia.metodo"
								:error-messages="errors.metodo"
							/>
						</v-col>
						<v-col cols="12">
							<v-textarea
								outlined
								clearable
								label="Observaciones"
								v-model="referencia.observaciones"
								:error-messages="errors.observaciones"
							/>
						</v-col>
					</v-row>
				</v-card-text>
				<v-card-actions>
					<v-btn color="error" @click="$emit('cancelar')" :disabled="loader">
						cancelar
					</v-btn>
					<v-btn color="success" type="submit" :disabled="loader">
						guardar
					</v-btn>
				</v-card-actions>
			</v-form>
		</v-card>
	</v-dialog>
</template>

<script>
import { mapState } from 'vuex';
export default {
	name: 'NuevaReferencia',
	props: ['dialog'],
	data: () => ({
		sexos: [
			{ value: 'I', text: 'Indistinto' },
			{ value: 'M', text: 'Masculino' },
			{ value: 'F', text: 'Femenino' }
		],
		unidades: [
			{ text: 'Horas', value: 'Hours' },
			{ text: 'Días', value: 'Days' },
			{ text: 'Meses', value: 'Months' },
			{ text: 'Años', value: 'Years' }
		]
	}),
	computed: {
		...mapState({
			errors: state => state.errors,
			loader: state => state.Analisis.loader,
			rangos: state => state.Rangos.rangosAll,
			unidades: state => state.Analisis.unidadesMedida,
			referencia: state => state.Analisis.referencia
		}),
		ordenados() {
			let horas = this.rangos.filter(x => x.text.includes('HORAS'));
			let dias = this.rangos.filter(x => x.text.includes('DÍAS'));
			let meses = this.rangos.filter(x => x.text.includes('MESES'));
			let years = this.rangos.filter(x => x.text.includes('AÑOS'));
			return horas.concat(dias, meses, years);
		},
		title() {
			return this.referencia.id ? 'Editando Referencia' : 'Nueva Referencia';
		},
		errorFecha(){
			return this.errors.rango_fecha_id || this.errors.edad_periodo
		}
	},
	beforeMount() {
		if (!this.rangos) this.$store.dispatch('Rangos/getAll');
	},
	mounted() {
		this.$store.commit('setErrors');
	}
};
</script>
