<!-- eslint-disable -->
<template>
	<v-expansion-panel>
		<v-expansion-panel-header color="blue lighten-3">
			Datos Generales
		</v-expansion-panel-header>
		<v-expansion-panel-content>
			<v-form @submit.prevent="sendAnalisis">
				<v-card-text>
					<v-row>
						<v-col cols="12" md="3">
							<v-combobox
								dense
								outlined
								small-chips
								clearable
								:items="tipos"
								v-model="analisis.tipo"
								label="Tipo de Muestra Requerida"
								:error-messages="errors.tipo"
							/>
						</v-col>
						<v-col cols="12" md="6">
							<v-text-field
								dense
								outlined
								label="Nombre del Análisis"
								v-model="analisis.nombre"
								:error-messages="errors.nombre"
							/>
						</v-col>
						<v-col cols="12" md="3">
							<v-text-field
								dense
								outlined
								label="Importe"
								v-model.number="analisis.importe"
								:error-messages="errors.importe"
								type="number"
								step="0.01"
							/>
						</v-col>
						<v-col>
							<v-text-field
								dense
								outlined
								label="Unidad de Medida"
								v-model="analisis.unidadMedida"
								:error-messages="errors.unidadMedida"
							/>
						</v-col>
						<v-col>
							<v-text-field
								dense
								outlined
								label="Método de Medición"
								v-model="analisis.metodo"
								:error-messages="errors.metodo"
							/>
						</v-col>
					</v-row>
					<v-row>
						<v-col>
							<v-textarea
								outlined
								label="Observaciones"
								v-model="analisis.observaciones"
							/>
						</v-col>
					</v-row>
					<v-row v-if="user.email == 'developer@zamgod.mx'">
						<v-col>
							<v-textarea
								outlined
								label="Parametros desde la base de datos original"
								v-model="analisis.params"
							/>
						</v-col>
					</v-row>
				</v-card-text>
				<v-card-actions v-if="modificado">
					<v-btn color="success" type="submit" :disabled="loader">
						{{ btnTitle }}
					</v-btn>
				</v-card-actions>
			</v-form>
		</v-expansion-panel-content>
	</v-expansion-panel>
</template>

<script>
import { mapActions, mapState } from 'vuex';
export default {
	name: 'Formulario',
	data: () => ({
		original: undefined
	}),
	computed: {
		...mapState({
			analisis: state => state.Analisis.resource,
			loader: state => state.Analisis.loader,
			tipos: state => state.Analisis.tipos,
			errors: state => state.errors,
			user: state => state.Auth.user
		}),
		btnTitle() {
			return this.analisis.id ? 'actualizar' : 'guardar';
		},
		modificado() {
			return JSON.stringify(this.original) !== JSON.stringify(this.analisis);
		}
	},
	mounted() {
		this.original = Object.assign({}, this.analisis);
	},
	methods: {
		...mapActions('Analisis', ['sendAnalisis'])
	},
	watch: {
		analisis: function(val) {
			this.original = Object.assign({}, val);
		}
	}
};
</script>
