<!-- eslint-disable -->
<template>
	<v-expansion-panel>
		<v-expansion-panel-header color="green lighten-3">
			Valores de Referencia
		</v-expansion-panel-header>
		<v-expansion-panel-content>
			<v-row>
				<v-col>
					<v-btn
						small
						color="success"
						class="mt-3 ml-3"
						v-if="userCan('crear-referencia')"
						@click="nuevo"
					>
						<v-icon>mdi-plus</v-icon>
					</v-btn>
				</v-col>
			</v-row>
			<v-data-table
				dense
				:headers="headers"
				:items="items"
				class="elevation-1 mt-3"
			>
				<template v-slot:[`item.actions`]="{ item }">
					<v-btn
						icon
						color="red"
						:disabled="loader"
						v-if="userCan('eliminar-referencia')"
						@click="eliminar(item)"
					>
						<v-icon>mdi-delete</v-icon>
					</v-btn>
				</template>
			</v-data-table>
		</v-expansion-panel-content>
		<Nuevo :dialog="dialog" @cancelar="dialog = false" v-if="dialog" />
	</v-expansion-panel>
</template>

<script>
import { mapState } from 'vuex';
import Nuevo from './NuevReferencia';
export default {
	name: 'Referencias',
	components: { Nuevo },
	data: () => ({
		headers: [
			{ text: 'Sexo', value: 'sex' },
			{ text: 'Edad', value: 'edad' },
			{ text: 'Mínimo', value: 'minimo', align: 'end' },
			{ text: 'Máximo', value: 'maximo', align: 'end' },
			{ text: 'Unidad de Medida', value: 'unidadMedida' },
			{ text: 'Método', value: 'metodo' },
			{ text: 'Acciones', value: 'actions', align: 'end' }
		],
		dialog: false
	}),
	computed: {
		...mapState({
			test: state => state.Analisis.resource,
			loader: state => state.Analisis.loader
		}),
		items() {
			return this.test.referencias;
		}
	},
	methods: {
		nuevo() {
			this.$store.commit('Analisis/setReferencia', {
				test_id: this.test.id,
				unidadMedida: this.test.unidadMedida,
				metodo: this.test.metodo
			});
			this.dialog = true;
		},
		editar(item) {
			this.$store.commit('Analisis/setReferencia', Object.assign({}, item));
			this.dialog = true;
		},
		eliminar(item) {
			let pregunta = `¿Deseas Eliminar la referencia ${item.edad} sexo ${item.sex}?`,
				text = 'La referencia ya no estará disponible para nuevos análisis';
			window
				.swal({
					title: pregunta,
					text: text,
					icon: 'warning',
					buttons: ['Cancelar', 'Confirmar'],
					dangerMode: true
				})
				.then(confirmado => {
					if (confirmado) {
						this.$store.dispatch('Analisis/removeReferencia',item.id)
					}
				});
		}
	},
	watch: {
		items: function() {
			this.dialog = false;
		}
	}
};
</script>
