<!-- eslint-disable -->
<template>
	<v-card height="100%">
		<v-expansion-panels v-if="analisis" multiple v-model="abiertos">
			<Formulario />
			<Referencias />
		</v-expansion-panels>
		<v-row class="mt-3">
			<v-col>
				<v-btn
					color="primary"
					class="ml-3"
					@click="$router.push({ name: 'analisis' })"
				>
					regresar
				</v-btn>
			</v-col>
		</v-row>
	</v-card>
</template>

<script>
import { mapState } from 'vuex';
import Formulario from './PanelForm';
import Referencias from './PanelReferencias';
export default {
	name: 'Show',
	data: () => ({
		abiertos: [1]
	}),
	components: { Formulario, Referencias },
	computed: {
		...mapState({
			analisis: state => state.Analisis.resource,
			rangos: state => state.Rangos.rangosAll
		})
	},
	beforeMount() {
		if (!this.analisis) {
			let item = { id: this.$route.params.id };
			this.$store.dispatch('Analisis/getAnalisis', item);
			this.$store.dispatch('Analisis/getAll');
		}
		this.$store.dispatch('Rangos/getAll');
	},
	mounted() {
		this.$store.commit('setErrors');
	}
};
</script>
