<!-- eslint-disable -->
<template>
	<v-card height="100%">
		<v-card-text>
			<v-row>
				<v-col v-if="mostrarFiltro">
					<v-select
						dense
						outlined
						label="Filtrar por status"
						v-model="paginado.status"
						:items="status"
						clearable
					/>
				</v-col>
				<v-col>
					<v-btn
						small
						color="success"
						class=" mt-2"
						@click="dialog = true"
						:disabled="loader"
					>
						<v-icon>mdi-plus</v-icon>
					</v-btn>
					<v-btn
						small
						color="info"
						class="ml-3 mt-2"
						@click="getAll"
						:disabled="loader"
					>
						<v-icon>mdi-refresh</v-icon>
					</v-btn>
				</v-col>
			</v-row>
			<v-data-table
				dense
				mobile-breakpoint="0"
				:headers="headers"
				:items="items"
				hide-default-footer
				class="elevation-1"
			>
				<template v-slot:[`item.created_at`]="{ item }">
					{{ item.created_at | dateTime }}
				</template>
			</v-data-table>
			<v-row v-if="!loader && items && items.length">
				<v-col class="mt-5">
					Registros Encontrados: {{ paginado.registros | numero }}
				</v-col>
				<v-col cols="12" md="8">
					<v-pagination
						class="mt-3"
						v-model="paginado.currentPage"
						:length="paginado.lastPage"
						total-visible="8"
					/>
				</v-col>
				<v-col class="mt-3" cols="12" md="2">
					<v-form @submit.prevent="buscar" v-if="paginado.lastPage > 10">
						<v-text-field
							dense
							outlined
							label="Ir a la Página"
							v-model="paginado.buscada"
						/>
					</v-form>
				</v-col>
			</v-row>
		</v-card-text>
		<Crear :dialog="dialog" @cerrar="dialog = false" />
	</v-card>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import Crear from './ModalCrear';
export default {
	name: 'Soporte',
	components: { Crear },
	data: () => ({
		headers1: [
			{ value: 'folio', text: 'Folio' },
			{ value: 'created_at', text: 'Fecha / Hora' },
			{ value: 'title', text: 'Título' },
			{ value: 'status', text: 'Estatus' },
			{ value: 'actions', text: 'Acciones', align: 'end' }
		],
		headers2: [
			{ value: 'folio', text: 'Folio' },
			{ value: 'created_at', text: 'Fecha / Hora' },
			{ value: 'user', text: 'Usuario' },
			{ value: 'title', text: 'Título' },
			{ value: 'status', text: 'Estatus' },
			{ value: 'actions', text: 'Acciones', align: 'end' }
		],
		dialog: false
	}),
	computed: {
		...mapState({
			rol: state => state.Auth.user.rol,
			items: state => state.Tickets.collection,
			paginado: state => state.Tickets.paginado,
			loader: state => state.Tickets.loader,
			status: state => state.Tickets.status,
			filtroActual: state => state.Tickets.paginado.status
		}),
		headers() {
			if (this.rol == 'Administrador' || this.rol == 'Desarrollador')
				return this.headers2;
			return this.headers1;
		},
		mostrarFiltro() {
			return this.rol == 'Desarrollador' || this.rol == 'Administrador';
		}
	},
	beforeMount() {
		this.getAll();
	},
	methods: {
		...mapActions('Tickets', ['getAll']),
		buscar() {}
	}
};
</script>
