<!-- eslint-disable -->
<template>
	<v-row justify="center">
		<v-dialog v-model="dialog" persistent max-width="650">
			<v-card>
				<v-card-title class="headline">
					Abrir ticket de soporte
				</v-card-title>
				<v-form @submit.prevent="enviar">
					<v-card-text>
						<v-row>
							<v-col cols="12">
								<v-text-field
									dense
									outlined
									label="Título"
									v-model="ticket.title"
									:error-messages="errors.title"
								/>
							</v-col>
							<v-col cols="12">
								<v-textarea
									outlined
									label="Descripción"
									v-model="ticket.body"
									:error-messages="errors.body"
								/>
							</v-col>
						</v-row>
					</v-card-text>
					<v-card-actions>
						<v-spacer></v-spacer>
						<v-btn color="error" @click="cancelar" :disabled="loader">
							Cancelar
						</v-btn>
						<v-btn color="success" type="submit" :disabled="loader">
							guardar
						</v-btn>
					</v-card-actions>
				</v-form>
			</v-card>
		</v-dialog>
	</v-row>
</template>

<script>
import { mapState } from 'vuex';
export default {
	name: 'Crear',
	props: ['dialog'],
	data: () => ({
		ticket: {}
	}),
	computed: {
		...mapState({
			loader: state => state.Tickets.loader,
			errors: state => state.errors
		})
	},
	methods: {
		cancelar() {
			this.$emit('cerrar');
		},
		enviar() {
			this.$store.commit('Tickets/setLoader', true);
			this.$store.commit('setErrors');
			window.axios
				.post('tickets', this.ticket)
				.then(resp => {
					this.$store.dispatch('Tickets/getAll');
					window.swal(resp.data.message, { icon: 'success', timer: 1500 });
					this.cancelar();
				})
				.catch(e => this.$store.dispatch('errores', e))
				.finally(() => this.$store.commit('Tickets/setLoader'));
		}
	},

	watch: {
		dialog: function() {
			this.ticket = {};
		}
	}
};
</script>
