<!-- eslint-disable -->
<template>
	<v-card height="100%">
		<v-card-text>
			<v-row>
				<v-col>
					<v-select
						dense
						outlined
						small-chips
						clearable
						:items="ordenados"
						v-model="tipo"
						label="Tipo de Registro"
					/>
				</v-col>
				<v-col>
					<v-btn color="primary" @click="buscar" :disabled="loader">
						buscar
					</v-btn>
				</v-col>
			</v-row>
			<template v-if="paginado">
				<v-data-table
					dense
					:headers="headers"
					:items="items"
					class="elevation-1"
					hide-default-footer
					mobile-breakpoint="0"
				>
					<template v-slot:[`item.deleted_at`]="{ item }">
						{{ item.deleted_at | dateTime }}
					</template>
					<template v-slot:[`item.created_at`]="{ item }">
						{{ item.created_at | dateTime }}
					</template>
					<template v-slot:[`item.importe`]="{ item }">
						{{ item.importe | moneda }}
					</template>
				</v-data-table>
				<v-row>
					<v-col class="mt-5">
						Registros Encontrados: {{ paginado.registros | numero }}
					</v-col>
					<v-col cols="12" md="8">
						<v-pagination
							class="mt-3"
							v-model="paginado.currentPage"
							:length="paginado.lastPage"
							total-visible="8"
						/>
					</v-col>
					<v-col class="mt-3" cols="12" md="2"> </v-col>
				</v-row>
			</template>
		</v-card-text>
	</v-card>
</template>

<script>
import { mapState } from 'vuex';
export default {
	name: 'Eliminados',
	data: () => ({
		tipo: undefined
	}),
	computed: {
		ordenados() {
			return [...this.tipos].sort();
		},
		...mapState({
			items: state => state.Eliminados.collection,
			headers: state => state.Eliminados.headers,
			tipos: state => state.Eliminados.tipos,
			paginado: state => state.Eliminados.paginado,
			actual: state => state.Eliminados.paginado.currentPage,
			loader: state => state.Eliminados.loader
		})
	},
	beforeMount() {
		this.limpiar();
	},
	methods: {
		buscar() {
			if (this.tipo == 'Doctores') {
				this.$store.dispatch('Eliminados/getRegistros', 'doctores/eliminados');
			}
			if (this.tipo == 'Pacientes') {
				this.$store.dispatch('Eliminados/getRegistros', 'pacientes/eliminados');
			}
			if (this.tipo == 'Pagos') {
				this.$store.dispatch('Eliminados/getRegistros', 'pagos/eliminados');
			}
			if (this.tipo == 'Ordenes') {
				this.$store.dispatch('Eliminados/getRegistros', 'ordens/eliminados');
			}
			if (this.tipo == 'Muestras') {
				this.$store.dispatch('Eliminados/getRegistros', 'muestras/eliminados');
			}
		},
		limpiar() {
			this.$store.commit('Eliminados/setHeaders');
			this.$store.commit('Eliminados/setCollection');
			this.$store.commit('Eliminados/setPaginado', { currentPage: 1 });
		}
	},
	watch: {
		tipo: function() {
			this.limpiar();
		},
		actual() {
			if (this.tipo == 'Doctores') {
				this.$store.dispatch('Eliminados/getRegistros', 'doctores/eliminados');
			}
			if (this.tipo == 'Pacientes') {
				this.$store.dispatch('Eliminados/getRegistros', 'pacientes/eliminados');
			}
			if (this.tipo == 'Pagos') {
				this.$store.dispatch('Eliminados/getRegistros', 'pagos/eliminados');
			}
		}
	}
};
</script>
