<template>
	<v-card height="100%" v-if="user.id">
		<v-card-text>
			<v-row class="mt-3">
				<v-col> Bienvenido {{ user.nombre }} </v-col>
			</v-row>

			<v-row class="mt-3" v-if="user.entrada !== ''">
				<v-col>
					Tu horario para usar el sistema es de {{ user.entrada }} a
					{{ user.salida }}
				</v-col>
			</v-row>
		</v-card-text>
	</v-card>
</template>

<script>
import { mapState } from 'vuex';
export default {
	name: 'Daschoard',
	computed: {
		...mapState({
			user: state => state.Auth.user
		})
	}
};
</script>
