<!-- eslint-disable -->
<template>
	<v-card height="100%" v-if="analisis">
		<v-card-text>
			<v-row class="mb-3">
				<v-col>
					Datos del Paciente y Doctor (vendrian de una orden)
				</v-col>
			</v-row>
			<v-row>
				<v-col>
					<v-select
						dense
						outlined
						label="Doctor que atiende"
						:items="doctores"
						item-value="id"
						item-text="nombre"
						v-model="valores.doctor_id"
					/>
				</v-col>
				<v-col>
					<v-select
						dense
						outlined
						label="Paciente"
						:items="pacientes"
						item-value="id"
						item-text="nombre"
						v-model="valores.paciente_id"
					/>
				</v-col>
			</v-row>
			<v-divider></v-divider>
			<v-row class="my-3">
				<v-col>
					Aqui vamos a simular que analisis estamos haciendo y el valor medido
				</v-col>
			</v-row>
			<v-form @submit.prevent="agregar">
				<v-row>
					<v-col>
						<v-select
							dense
							outlined
							label="Analisis"
							:items="analisis"
							item-value="id"
							item-text="nombre"
							v-model="test_id"
						/>
					</v-col>
					<v-col>
						<v-text-field
							dense
							outlined
							label="Valor medido"
							v-model.number="valorMedido"
							type="number"
						/>
					</v-col>
					<v-col>
						<v-btn color="primary" type="submit">agregar</v-btn>
					</v-col>
				</v-row>
			</v-form>
		</v-card-text>
		<v-card-text>
			<v-data-table
				dense
				:headers="headers"
				:items="resultados"
				class="elevation-1"
				hide-default-footer
				mobile-breakpoint="0"
			>
			</v-data-table>
		</v-card-text>
		<v-card-actions>
			<v-btn color="success" @click="simular">Simular</v-btn>
		</v-card-actions>
	</v-card>
</template>

<script>
import { mapState } from 'vuex';
export default {
	name: 'Pruebas',
	data: () => ({
		valores: {},
		resultados: [],
		test_id: undefined,
		valorMedido: undefined,
		headers: [
			{ text: 'Nombre', value: 'nombre' },
			{ text: 'Valor Medido', value: 'valor', align: 'end' }
			// { text: 'Acciones', value: 'actions', align: 'end' }
		]
	}),
	computed: {
		...mapState({
			d: state => state.printD,
			doctores: state => state.Doctores.collection,
			pacientes: state => state.Pacientes.collection,
			analisis: state => state.Analisis.collection
		})
	},
	mounted() {
		this.$store.dispatch('Doctores/getAll');
		this.$store.dispatch('Pacientes/getAll');
		this.$store.dispatch('Analisis/getAll');
	},
	beforeDestroy() {
		this.$store.commit('Analisis/setInitialState');
	},
	methods: {
		// print() {
		// 	window.axios.get('pruebas').then(resp => {
		// 		const el = document.createElement('p');
		// 		el.innerHTML = resp.data;
		// 		this.d.print(el);
		// 	});
		// }
		agregar() {
			if (this.test_id && this.valorMedido) {
				let seleccionado = this.analisis.find(x => x.id == this.test_id);
				let obj = {
					nombre: seleccionado.nombre,
					test_id: this.test_id,
					valor: this.valorMedido
				};
				this.resultados.push(obj);
				this.test_id = this.valorMedido = undefined;
			}
		},
		simular() {
			if (
				this.valores.doctor_id &&
				this.valores.paciente_id &&
				this.resultados.length
			) {
				let data = {
					paciente_id: this.valores.paciente_id,
					doctor_id: this.valores.doctor_id,
					items: this.resultados
				};
				window.axios.post('simulacion', data).then(resp => {
					const el = document.createElement('p');
					el.innerHTML = resp.data;
					this.d.print(el);
				});
			}
		}
	}
};
</script>
