<!-- eslint-disable -->
<template>
	<v-card height="100%" v-if="resource">
		<v-form @submit.prevent="$store.dispatch('Rangos/sendResource')">
			<v-card-text>
				<v-row>
					<v-col>
						<v-text-field
							dense
							outlined
							label="Mínimo"
							type="number"
							v-model="resource.minimo"
							:error-messages="errors.minimo"
						/>
					</v-col>
					<v-col>
						<v-text-field
							dense
							outlined
							label="Máximo"
							type="number"
							v-model="resource.maximo"
							:error-messages="errors.maximo"
						/>
					</v-col>
					<v-col>
						<v-autocomplete
							dense
							outlined
							clearable
							label="Unidad de Tiempo"
							:items="unidades"
							v-model="resource.periodo"
							:error-messages="errors.periodo"
						/>
					</v-col>
				</v-row>
			</v-card-text>
			<v-card-actions>
				<v-btn
					color="error"
					@click="$router.push({ name: 'rangos' })"
					:disabled="loader"
				>
					cancelar
				</v-btn>
				<v-btn color="success" type="submit" :disabled="loader">
					{{ btnTitle }}
				</v-btn>
			</v-card-actions>
		</v-form>
	</v-card>
</template>

<script>
import { mapState } from 'vuex';
export default {
	name: 'Form',
	data: () => ({
		unidades: [
			{ text: 'Horas', value: 'Hours' },
			{ text: 'Días', value: 'Days' },
			{ text: 'Meses', value: 'Months' },
			{ text: 'Años', value: 'Years' }
		]
	}),
	computed: {
		...mapState({
			resource: state => state.Rangos.resource,
			loader: state => state.Rangos.loader,
			errors: state => state.errors
		}),
		btnTitle() {
			return this.resource.id ? 'actualizar' : 'guardar';
		}
	},
	beforeMount() {
		this.$store.commit('setErrors');
		if (!this.resource) {
			if (!this.$route.params.id) {
				this.$store.commit('Rangos/setResource');
			}
		}
	}
};
</script>
