<!-- eslint-disable -->
<template>
	<v-card height="100%">
		<v-card-text>
			<v-row>
				<v-col>
					<v-btn
						small
						color="info"
						:disabled="loader"
						@click="$store.dispatch('Rangos/getAll')"
					>
						<v-icon>mdi-refresh</v-icon>
					</v-btn>
					<v-btn
						small
						color="success"
						class="ml-3"
						:disabled="loader"
						v-if="userCan('crear-rangos')"
						@click="$store.dispatch('Rangos/nuevo')"
					>
						<v-icon>mdi-plus</v-icon>
					</v-btn>
				</v-col>
			</v-row>
			<v-data-table
				mobile-breakpoint="0"
				dense
				hide-default-footer
				:headers="headers"
				:items="items"
				class="elevation-1"
				:search.sync="search"
			>
				<template v-slot:[`item.actions`]="{ item }">
					<v-btn
						icon
						color="red"
						:disabled="loader"
						v-if="userCan('eliminar-rangos')"
						@click="eliminar(item)"
					>
						<v-icon>mdi-delete</v-icon>
					</v-btn>
				</template>
			</v-data-table>
			<v-row v-if="!loader && items && items.length">
				<v-col class="mt-5">
					Registros Encontrados: {{ paginado.registros | numero }}
				</v-col>
				<v-col cols="12" md="8">
					<v-pagination
						class="mt-3"
						v-model="paginado.currentPage"
						:length="paginado.lastPage"
						total-visible="8"
					/>
				</v-col>
				<v-col class="mt-3" cols="12" md="2">
					<v-form @submit.prevent="buscar" v-if="paginado.lastPage > 10">
						<v-text-field
							dense
							outlined
							label="Ir a la Página"
							v-model="paginado.buscada"
						/>
					</v-form>
				</v-col>
			</v-row>
		</v-card-text>
	</v-card>
</template>

<script>
import { mapState } from 'vuex';
export default {
	name: 'Rangos',
	data: () => ({
		search: undefined
	}),
	computed: {
		...mapState({
			items: state => state.Rangos.collection,
			headers: state => state.Rangos.headers,
			loader: state => state.Rangos.loader,
			paginado: state => state.Rangos.paginado
		}),
		actual() {
			return this.paginado.currentPage;
		}
	},
	beforeMount() {
		if (!this.items) this.$store.dispatch('Rangos/getAll');
	},
	methods: {
		buscar() {
			if (this.paginado.lastPage >= this.paginado.buscada)
				this.$store.dispatch('Rangos/getAll');
		},
		eliminar(item) {
			let pregunta = `¿Deseas Eliminar el rango ${item.nombre}?`,
				text = 'El rango ya no estara disponible para nuevas referencias';
			window
				.swal({
					title: pregunta,
					text: text,
					icon: 'warning',
					buttons: ['Cancelar', 'Confirmar'],
					dangerMode: true
				})
				.then(confirmado => {
					if (confirmado) {
						this.$store.dispatch('Rangos/destroyResource', item.id);
					}
				});
		}
	},
	watch: {
		actual() {
			this.$store.dispatch('Rangos/getAll');
		}
	}
};
</script>
