<!-- eslint-disable -->
<template>
	<div>
		<v-expansion-panels multiple v-if="resource" v-model="abierto">
			<Formulario v-if="resource.resource" />
			<Analisis v-if="resource.analisis" />
		</v-expansion-panels>
		<div class="mt-5">
			<v-row>
				<v-col class="mx-5">
					<v-btn
						color="primary"
						@click="$router.push({ name: 'estudios' })"
						v-if="!loader"
					>
						regresar
					</v-btn>
				</v-col>
			</v-row>
		</div>
	</div>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import Formulario from './PanelForm';
import Analisis from './PanelAnalisis';
export default {
	name: 'Detalles',
	components: { Formulario, Analisis },
	data: () => ({
		abierto: undefined
	}),
	computed: {
		...mapState({
			resource: state => state.Estudios.resource,
			collection: state => state.Estudios.collection,
			loader: state => state.Estudios.loader,
			estudio: state => state.Estudios.resource.resource
		})
	},
	beforeMount() {
		if (!this.collection) this.$store.dispatch('Estudios/getAll');
		this.$store.commit('setErrors');
		if (!this.resource) {
			let id = this.$route.params.id;
			if (id) {
				this.getEstudio({ id });
			} else {
				this.$store.commit('Estudios/setResource', { resource: {} });
			}
		}
	},
	mounted() {
		let id = this.$route.params.id;
		if (!id) {
			this.abierto = [0];
		} else {
			this.abierto = [1];
		}
	},
	methods: {
		...mapActions('Estudios', ['getEstudio', 'sendEstudio'])
	},
	watch: {
		estudio: function(val) {
			if (val) {
				if (val.id) {
					this.abierto = [1];
				}
			}
		}
	}
};
</script>
