<!-- eslint-disable -->
<template>
	<v-card height="100%">
		<v-card-text>
			<v-row>
				<v-col>
					<v-select
						dense
						outlined
						small-chips
						clearable
						label="Categoría"
						:items="categorias"
						v-model="paginado.categoria"
						:disabled="loader"
					/>
				</v-col>
				<v-col>
					<v-text-field
						dense
						outlined
						label="Nombre del estudio"
						v-model="paginado.nombre"
						:disabled="loader"
					/>
				</v-col>
				<v-col>
					<v-btn color="primary" @click="getAll" :disabled="loader"
						>buscar</v-btn
					>
					<v-btn
						color="blue"
						class="ml-3"
						dark
						:disabled="loader"
						v-if="filtrado"
						@click="limpiar"
					>
						<v-icon>mdi-eraser</v-icon>
					</v-btn>
					<v-btn
						color="success"
						class="ml-3"
						:disabled="loader"
						v-if="userCan('crear-estudio')"
						@click="nuevo"
					>
						<v-icon>mdi-plus</v-icon>
					</v-btn>
				</v-col>
			</v-row>
			<v-data-table
				dense
				mobile-breakpoint="0"
				:headers="headers"
				:items="items"
				class="elevation-1"
				:items-per-page="paginado.perPage"
				hide-default-footer
			>
				<template v-slot:[`item.importe`]="{ item }">
					{{ item.importe | moneda }}
				</template>
				<template v-slot:[`item.actions`]="{ item }">
					<v-btn
						icon
						color="success"
						v-if="userCan('editar-estudio')"
						:disabled="loader"
						@click="getEstudio(item)"
					>
						<v-icon>mdi-pencil</v-icon>
					</v-btn>
					<v-btn
						icon
						color="red"
						:disabled="loader"
						v-if="userCan('eliminar-estudio')"
						@click="eliminar(item)"
					>
						<v-icon>mdi-delete</v-icon>
					</v-btn>
				</template>
			</v-data-table>
			<v-row v-if="!loader && items &&items.length">
				<v-col class="mt-5">
					Registros Encontrados: {{ paginado.registros | numero }}
				</v-col>
				<v-col cols="12" md="8">
					<v-pagination
						class="mt-3"
						v-model="paginado.currentPage"
						:length="paginado.lastPage"
						total-visible="8"
					/>
				</v-col>
				<v-col class="mt-3" cols="12" md="2">
					<v-form @submit.prevent="buscar" v-if="paginado.lastPage > 10">
						<v-text-field
							dense
							outlined
							label="Ir a la Página"
							v-model="paginado.buscada"
						/>
					</v-form>
				</v-col>
			</v-row>
		</v-card-text>
	</v-card>
</template>

<script>
import { mapActions, mapState } from 'vuex';
export default {
	name: 'Estudios',
	computed: {
		...mapState({
			loader: state => state.Estudios.loader,
			headers: state => state.Estudios.headers,
			paginado: state => state.Estudios.paginado,
			categorias: state => state.Estudios.categorias,
			items: state => state.Estudios.collection,
			actual: state => state.Estudios.paginado.currentPage
		}),
		filtrado() {
			return this.paginado.nombre || this.paginado.categoria ? true : false;
		}
	},
	mounted() {
		if (!this.items) this.getAll();
	},
	methods: {
		...mapActions('Estudios', [
			'getAll',
			'nuevo',
			'getEstudio',
			'deleteEstudio'
		]),
		limpiar() {
			this.paginado.nombre = this.paginado.categoria = null;
			this.getAll();
		},
		buscar() {
			this.paginado.currentPage = this.paginado.buscada;
		},
		eliminar(item) {
			let pregunta = `¿Deseas Eliminar el estudio ${item.nombre}?`,
				text = 'Ya el estudio no estara disponible';
			window
				.swal({
					title: pregunta,
					text: text,
					icon: 'warning',
					buttons: ['Cancelar', 'Confirmar'],
					dangerMode: true
				})
				.then(confirmado => {
					if (confirmado) {
						this.deleteEstudio(item.id);
					}
				});
		}
	},
	watch: {
		actual() {
			this.getAll();
		}
	}
};
</script>
