<!-- eslint-disable -->
<template>
	<v-card class="mt-5">
		<v-form @submit.prevent="enviar">
			<v-card-text>
				<v-row>
					<v-col cols="12" md="3">
						<v-select
							dense
							outlined
							small-chips
							clearable
							:items="tipos"
							v-model="tipo"
							label="Tipo de Análisis"
						/>
					</v-col>
					<v-col cols="12" md="7">
						<v-select
							dense
							outlined
							small-chips
							clearable
							:items="posibles"
							v-model="test_id"
							label="Nombre del estudio"
							:error-messages="errors.test_id"
						/>
					</v-col>
					<v-col>
						<v-text-field
							dense
							outlined
							label="Importe"
							v-model.number="importe"
							type="number"
							clearable
							step="0.01"
							:error-messages="errors.importe"
						/>
					</v-col>
				</v-row>
			</v-card-text>
			<v-card-actions>
				<v-btn color="error" @click="$emit('cancelar')" :disabled="loader"
					>Cancelar</v-btn
				>
				<v-btn
					color="success"
					v-if="test_id && importe"
					type="submit"
					:disabled="loader"
				>
					Guardar
				</v-btn>
			</v-card-actions>
		</v-form>
	</v-card>
</template>

<script>
import { mapState } from 'vuex';
export default {
	name: 'NuevoAnalisis',
	data: () => ({
		tipo: undefined,
		test_id: undefined,
		importe: undefined
	}),
	computed: {
		...mapState({
			errors: state => state.errors,
			analisis: state => state.Estudios.analisis,
			ingresados: state => state.Estudios.resource.analisis,
			id: state => state.Estudios.resource.resource.id,
			loader: state => state.Estudios.loader
		}),
		tipos() {
			return [...new Set(this.analisis.map(x => x.tipo))].sort();
		},
		posibles() {
			let verificados = [],
				filtrados = this.analisis.filter(x => x.tipo == this.tipo);
			filtrados.forEach(x => {
				let ingresado = this.ingresados.find(obj => obj.test_id == x.value);
				if (!ingresado) {
					verificados.push(x);
				}
			});
			return verificados;
		}
	},
	mounted() {
		this.$store.commit('setErrors');
	},
	watch: {
		test_id: function(val) {
			this.importe = undefined;
			if (val) {
				let analisis = this.analisis.find(x => x.value == val);
				this.importe = analisis.importe;
			}
		},
		tipo: function() {
			this.importe = this.test_id = undefined;
		}
	},
	methods: {
		enviar() {
			let analisis = {
				test_id: this.test_id,
				importe: this.importe,
				estudio_id: this.id
			};
			this.$store.commit('setErrors');
			this.$store.commit('Estudios/setLoader', true);
			window.axios
				.post('estudios/agregarAnalisis', analisis)
				.then(resp => {
					window.swal(resp.data.message, { icon: 'success', timer: 1500 });
					this.$store.commit('Estudios/setResource', resp.data.resource);
          this.$store.dispatch('Estudios/getAll');
					this.$emit('cancelar');
				})
				.catch(e => this.$store.dispatch('errores', e))
				.finally(() => this.$store.commit('Estudios/setLoader'));
		}
	}
};
</script>
