<!-- eslint-disable -->
<template>
	<v-expansion-panel>
		<v-expansion-panel-header dark color="blue lighten-3">
			Estudio
		</v-expansion-panel-header>
		<v-expansion-panel-content>
			<v-form @submit.prevent="sendEstudio">
				<v-row class="mt-5">
					<v-col>
						<v-combobox
							dense
							outlined
							small-chips
							clearable
							label="Categoría"
							:items="categorias"
							v-model="estudio.categoria"
							:error-messages="errors.categoria"
						/>
					</v-col>
					<v-col>
						<v-text-field
							dense
							outlined
							clearable
							label="Nombre del Estudio"
							v-model="estudio.nombre"
							:error-messages="errors.nombre"
						/>
					</v-col>
					<v-col cols="12">
						<v-btn
							color="success"
							type="submit"
							v-if="modificado"
							:disabled="loader"
							>{{ btnTitle }}</v-btn
						>
					</v-col>
				</v-row>
			</v-form>
		</v-expansion-panel-content>
	</v-expansion-panel>
</template>

<script>
import { mapActions, mapState } from 'vuex';
export default {
	name: 'Formulario',
	data: () => ({
		original: undefined
	}),
	computed: {
		...mapState({
			errors: state => state.errors,
			estudio: state => state.Estudios.resource.resource,
			collection: state => state.Estudios.collection,
			loader: state => state.Estudios.loader
		}),
		categorias() {
			return [...new Set(this.collection.map(x => x.categoria))].sort();
		},
		modificado() {
			return JSON.stringify(this.estudio) !== JSON.stringify(this.original);
		},
		btnTitle() {
			return this.estudio.id ? 'actualizar' : 'guardar';
		}
	},
	mounted() {
		this.original = Object.assign({}, this.estudio);
	},
	methods: {
		...mapActions('Estudios', ['sendEstudio'])
	},
	watch: {
		estudio: function(val) {
			this.original = Object.assign({}, val);
		}
	}
};
</script>
