<!-- eslint-disable -->
<template>
	<v-expansion-panel>
		<v-expansion-panel-header dark color="green lighten-3">
			Analisis del estudio
		</v-expansion-panel-header>
		<v-expansion-panel-content>
			<NuevoAnalisis v-if="nuevo" @cancelar="nuevo = false" />
			<template v-else>
				<v-row>
					<v-col cols="12" md="4">
						<v-btn small color="success" class="mt-5" @click="nuevo = true">
							<v-icon>mdi-plus</v-icon>
						</v-btn>
					</v-col>
					<v-col cols="12" xl="4" offset-xl="4">
						<v-container>
							<v-text-field
								v-model="search"
								append-icon="mdi-magnify"
								label="Busqueda"
								single-line
								hide-details
							/>
						</v-container>
					</v-col>
				</v-row>
				<v-data-table
					dense
					:headers="headers"
					:items="items"
					class="elevation-1"
					:search.sync="search"
					:item-class="row_classes"
					mobile-breakpoint="0"
				>
					<template v-slot:[`item.importe`]="{ item }">
						{{ item.importe | moneda }}
					</template>
					<template v-slot:[`item.actions`]="{ item }">
						<v-btn
							icon
							color="success"
							:disabled="loader"
							@click="editar(item)"
						>
							<v-icon>mdi-pencil</v-icon>
						</v-btn>
						<v-btn icon color="red" :disabled="loader" @click="eliminar(item)">
							<v-icon>mdi-delete</v-icon>
						</v-btn>
					</template>
				</v-data-table>
			</template>
			<v-row justify="center">
				<v-dialog v-model="editando" persistent max-width="650">
					<v-card>
						<v-card-title class="headline">
							{{ analisis.nombre }}
						</v-card-title>
						<v-form @submit.prevent="actualizar">
							<v-card-text>
								<v-row>
									<v-col cols="12" md="6">
										<v-text-field
											dense
											outlined
											type="number"
											label="Precio Actual"
											v-model="actual"
											disabled
										/>
									</v-col>
									<v-col cols="12" md="6">
										<v-text-field
											dense
											outlined
											clearable
											type="number"
											label="Nuevo Precio"
											v-model="analisis.importe"
											:error-messages="errors.importe"
										/>
									</v-col>
								</v-row>
							</v-card-text>
							<v-card-actions>
								<v-spacer></v-spacer>
								<v-btn color="error" @click="cancelar" :disabled="loader">
									cancelar
								</v-btn>
								<v-btn
									color="success"
									type="submit"
									v-if="analisis.importe !== actual"
									:disabled="loader"
								>
									Actualizar
								</v-btn>
							</v-card-actions>
						</v-form>
					</v-card>
				</v-dialog>
			</v-row>
		</v-expansion-panel-content>
	</v-expansion-panel>
</template>

<script>
import { mapState } from 'vuex';
import NuevoAnalisis from './NuevoAnalisis';
export default {
	name: 'Analisis',
	components: {
		NuevoAnalisis
	},
	data: () => ({
		headers: [
			{ text: 'Tipo', value: 'tipo' },
			{ text: 'Nombre', value: 'nombre' },
			{ text: 'Importe', value: 'importe', align: 'end' },
			{ text: 'Acciones', value: 'actions', align: 'end' }
		],
		search: undefined,
		nuevo: false,
		tipo: undefined,
		editando: false,
		analisis: {},
		actual: undefined
	}),
	computed: {
		...mapState({
			errors: state => state.errors,
			loader: state => state.Estudios.loader,
			items: state => state.Estudios.resource.analisis
		})
	},
	methods: {
		eliminar(item) {
			let pregunta = `¿Deseas Eliminar el análisis ${item.nombre}?`;
			window
				.swal({
					title: pregunta,
					icon: 'warning',
					buttons: ['Cancelar', 'Confirmar'],
					dangerMode: true
				})
				.then(confirmado => {
					if (confirmado) {
						let test = item.id;
						this.$store.commit('Estudios/setLoader', true);
						this.$store.commit('setErrors');
						window.axios
							.delete(`estudios/editarAnalisis/${test}`)
							.then(resp => {
								window.swal(resp.data.message, {
									icon: 'success',
									timer: 1500
								});
								this.$store.commit('Estudios/setResource', resp.data.resource);
								this.$store.dispatch('Estudios/getAll');
								this.cancelar();
							})
							.catch(e => this.$store.dispatch('errores', e))
							.finally(() => this.$store.commit('Estudios/setLoader'));
					}
				});
		},
		editar(item) {
			this.editando = true;
			this.actual = item.importe;
			this.analisis = Object.assign({}, item);
			this.$store.commit('setErrors');
		},
		cancelar() {
			this.analisis = {};
			this.editando = false;
			this.actual = undefined;
			this.$store.commit('setErrors');
		},
		actualizar() {
			let test = this.analisis.id;
			this.$store.commit('Estudios/setLoader', true);
			this.$store.commit('setErrors');
			window.axios
				.put(`estudios/editarAnalisis/${test}`, this.analisis)
				.then(resp => {
					window.swal(resp.data.message, { icon: 'success', timer: 1500 });
					this.$store.commit('Estudios/setResource', resp.data.resource);
					this.$store.dispatch('Estudios/getAll');
					this.cancelar();
				})
				.catch(e => this.$store.dispatch('errores', e))
				.finally(() => this.$store.commit('Estudios/setLoader'));
		}
	}
};
</script>
