<!-- eslint-disable -->
<template>
	<v-card height="100%">
		<v-card-text>
			<v-row class="mb-5">
				<v-col>
					<v-btn small color="info" @click="getAll" :disabled="loader">
						<v-icon>mdi-refresh</v-icon>
					</v-btn>
				</v-col>
			</v-row>
			<v-data-table
				dense
				mobile-breakpoint="0"
				:headers="headers"
				:items="items"
				class="elevation-1"
				:items-per-page="paginado.perPage"
				hide-default-footer
			>
				<template v-slot:[`item.id`]="{ item }">
					{{ item.id | folio }}
				</template>
				<template v-slot:[`item.fecha`]="{ item }">
					{{ item.fecha | dateTime }}
				</template>
				<template v-slot:[`item.created_at`]="{ item }">
					{{ item.created_at | dateTime }}
				</template>
				<template v-slot:[`item.importe`]="{ item }">
					{{ item.importe | moneda }}
				</template>
				<template v-slot:[`item.resta`]="{ item }">
					{{ item.resta | moneda }}
				</template>
				<template v-slot:[`item.actions`]="{ item }">
					<v-btn
						icon
						color="success"
						:disabled="loader"
						v-if="userCan('pagar-orden') && item.resta > 0"
						@click="pagar(item)"
					>
						<v-icon>mdi-cash</v-icon>
					</v-btn>
					<v-btn
						icon
						color="primary"
						:disabled="loader"
						v-if="userCan('show-orden')"
						@click="showOrden(item)"
					>
						<v-icon>mdi-information</v-icon>
					</v-btn>
					<v-btn
						icon
						color="red"
						:disabled="loader"
						v-if="userCan('eliminar-orden')"
						@click="eliminar(item)"
					>
						<v-icon>mdi-delete</v-icon>
					</v-btn>
					<v-btn
						icon
						color="primary"
						:disabled="loader"
						v-if="userCan('imprimir-pagos')"
						@click="print(item)"
					>
						<v-icon>mdi-printer</v-icon>
					</v-btn>
				</template>
			</v-data-table>
			<v-row v-if="!loader && items && items.length">
				<v-col class="mt-5">
					Registros Encontrados: {{ paginado.registros | numero }}
				</v-col>
				<v-col cols="12" md="8">
					<v-pagination
						class="mt-3"
						v-model="paginado.currentPage"
						:length="paginado.lastPage"
						total-visible="8"
					/>
				</v-col>
				<v-col class="mt-3" cols="12" md="2">
					<v-form @submit.prevent="buscar" v-if="paginado.lastPage > 10">
						<v-text-field
							dense
							outlined
							label="Ir a la Página"
							v-model="paginado.buscada"
						/>
					</v-form>
				</v-col>
			</v-row>
		</v-card-text>

		<v-dialog v-model="dialog" persistent max-width="650">
			<v-card>
				<v-card-title class="headline">
					Pagar Orden {{ orden.folio }}
				</v-card-title>
				<v-form @submit.prevent="enviarPago">
					<v-card-text>
						<v-row>
							<v-col cols="12" md="6">
								<v-text-field
									dense
									outlined
									clearable
									type="number"
									step="0.01"
									label="Importe"
									min="0"
									v-model.number="pago.importe"
									:error-messages="errors.importe"
								/>
							</v-col>
							<v-col cols="12" md="6">
								<v-select
									dense
									outlined
									small-chips
									clearable
									label="Forma de Pago"
									:items="formas"
									v-model="pago.forma_pago"
									:error-messages="errors.forma_pago"
								/>
							</v-col>
							<v-col
								cols="12"
								md="6"
								v-if="pago.forma_pago && pago.forma_pago !== 'efectivo'"
							>
								<v-text-field
									dense
									outlined
									clearable
									label="Referencia"
									v-model="pago.referencia"
									:error-messages="errors.referencia"
								/>
							</v-col>
							<v-col cols="12">
								<v-textarea
									outlined
									label="Observaciones"
									v-model="pago.observaciones"
								/>
							</v-col>
						</v-row>
					</v-card-text>
					<v-card-actions>
						<v-btn color="error" @click="dialog = false" :disabled="loader"
							>cancelar</v-btn
						>
						<v-btn color="success" type="submit" :disabled="loader">
							guardar
						</v-btn>
					</v-card-actions>
				</v-form>
			</v-card>
		</v-dialog>
		<div id="base"></div>
	</v-card>
</template>

<script>
import { mapActions, mapState } from 'vuex';
export default {
	name: 'Ordenes',
	data: () => ({
		formas: [
			{ value: 'efectivo', text: 'Efectivo' },
			{ value: 'tarjeta', text: 'Tarjeta de Débito o Crédito' },
			{ value: 'transferencia', text: 'Transferencia' }
		],
		dialog: false,
		orden: {},
		pago: {}
	}),
	computed: {
		...mapState({
			errors: state => state.errors,
			items: state => state.Ordenes.collection,
			headers: state => state.Ordenes.headers,
			paginado: state => state.Ordenes.paginado,
			loader: state => state.Ordenes.loader,
			actual: state => state.Ordenes.paginado.currentPage,
			d: state => state.printD
		}),
		filtrado() {
			return false;
		}
	},
	mounted() {
		this.getAll();
	},
	methods: {
		...mapActions('Ordenes', ['getAll', 'showOrden', 'deleteOrden']),
		eliminar(item) {
			let pregunta = `¿Deseas Eliminar la orden ${item.folio}?`,
				text = 'Esta acción no puede deshacerse';
			window
				.swal({
					title: pregunta,
					text: text,
					icon: 'warning',
					buttons: ['Cancelar', 'Confirmar'],
					dangerMode: true
				})
				.then(confirmado => {
					if (confirmado) {
						this.deleteOrden(item.id);
					}
				});
		},
		pagar(item) {
			this.$store.commit('setErrors');
			this.orden = Object.assign({}, item);
			this.pago = { importe: item.resta.toFixed(2) };
			this.dialog = true;
		},
		enviarPago() {
			this.$store.commit('setErrors');
			this.$store.commit('Ordenes/setLoader', true);
			window.axios
				.post(`ordens/pagar/${this.orden.id}`, this.pago)
				.then(resp => {
					window.swal(resp.data.message, { icon: 'success', timer: 1500 });
					this.$store.dispatch('Ordenes/getAll');
					this.orden = {};
					this.pago = {};
					this.dialog = false;
				})
				.catch(e => this.$store.dispatch('errores', e))
				.finally(() => this.$store.commit('Ordenes/setLoader'));
		},
		print(item) {
			const el = document.createElement('p');
			this.$store.commit('Ordenes/setLoader', true);
			window.axios
				.get(`ordens/print/${item.id}`)
				.then(resp => {
					el.innerHTML = resp.data;
					this.d.print(el);
				})
				.finally(() => this.$store.commit('Ordenes/setLoader'));
		}
	},
	watch: {
		actual() {
			this.getAll();
		}
	}
};
</script>
<style lang="scss" escoped>
@media screen {
	#base {
		display: none;
	}
}
</style>
