<!-- eslint-disable -->
<template>
	<v-expansion-panel>
		<v-expansion-panel-header dark color="green lighten-3">
			Análisis
		</v-expansion-panel-header>
		<v-expansion-panel-content>
			<v-data-table
				:headers="headers"
				:items="items"
				class="elevation-1 mt-3"
				dense
				mobile-breakpoint="0"
				:items-per-page="items.length"
				hide-default-footer
			>
				<template v-slot:[`item.importe`]="{ item }">
					{{ item.importe | moneda }}
				</template>
			</v-data-table>
		</v-expansion-panel-content>
	</v-expansion-panel>
</template>

<script>
import { mapState } from 'vuex';
export default {
	name: 'Analisis',
	data: () => ({
		headers: [
			{ text: 'Tipo', value: 'tipo' },
			{ text: 'Nombre', value: 'analisis' },
			{ text: 'Importe', value: 'importe', align: 'end' },
			{ text: 'Acciones', value: 'actions', align: 'end' }
		]
	}),
	computed: {
		...mapState({
			items: state => state.Ordenes.analisis
		})
	}
};
</script>
