<!-- eslint-disable -->
<template>
	<v-expansion-panel>
		<v-expansion-panel-header dark color="blue lighten-3">
			Pagos
		</v-expansion-panel-header>
		<v-expansion-panel-content>
			<v-data-table
				dense
				:headers="headers"
				:items="items"
				class="elevation-1 mt-3"
				mobile-breakpoint="0"
				hide-default-footer
				:items-per-page="items.length"
			>
				<template v-slot:[`item.fecha`]="{ item }">
					{{ item.fecha | dateTime }}
				</template>
				<template v-slot:[`item.importe`]="{ item }">
					{{ item.importe | moneda }}
				</template>
			</v-data-table>
		</v-expansion-panel-content>
	</v-expansion-panel>
</template>

<script>
import { mapState } from 'vuex';
export default {
	name: 'Pagos',
	data: () => ({
		headers: [
			{ value: 'folio', text: 'Folio' },
			{ value: 'fecha', text: 'Fecha' },
			{ value: 'formaPago', text: 'Forma de Pago' },
			{ value: 'referencia', text: 'Referencia' },
			{ value: 'user', text: 'Cajero' },
			{ value: 'importe', text: 'importe', align: 'end' }
		]
	}),
	computed: {
		...mapState({
			items: state => state.Ordenes.pagos
		})
	}
};
</script>
