<!-- eslint-disable -->
<template>
	<v-expansion-panel>
		<v-expansion-panel-header dark color="orange lighten-3">
			Información General
		</v-expansion-panel-header>
		<v-expansion-panel-content>
			<v-row class="mt-3">
				<v-col cols="12" md="4">
					<v-card class="ma-2" height="97%">
						<v-card-title primary-title> Orden {{ orden.folio }} </v-card-title>
						<v-card-text>
							<v-row>
								<v-col> Recepcion: {{ orden.created_at | fechaLarga }} </v-col>
								<v-col> Entrega: {{ orden.fecha | fechaLarga }} </v-col>
								<v-col> Capturada por: {{ orden.recibio }} </v-col>
								<v-col>Importe: {{ orden.importe | moneda }}</v-col>
							</v-row>
						</v-card-text>
					</v-card>
				</v-col>
				<v-col cols="12" md="4">
					<v-card class="ma-2" height="97%">
						<v-card-title primary-title>
							Paciente
						</v-card-title>
						<v-card-text>
							<v-row>
								<v-col>{{ paciente.nombre }}</v-col>
								<v-col> Sexo: {{ paciente.sexo }} </v-col>
								<v-col> Edad: {{ paciente.edad }} </v-col>
								<v-col>Teléfono: {{ paciente.telefono }}</v-col>
								<v-col>Correo: {{ paciente.email }}</v-col>
							</v-row>
						</v-card-text>
					</v-card>
				</v-col>
				<v-col cols="12" md="4">
					<v-card class="ma-2" height="97%">
						<v-card-title primary-title>
							Doctor
						</v-card-title>
						<v-card-text>
							<v-row>
								<v-col>{{ doctor.nombre }}</v-col>
								<v-col>Teléfono: {{ doctor.telefono }}</v-col>
								<v-col>Correo: {{ doctor.email }}</v-col>
							</v-row>
						</v-card-text>
					</v-card>
				</v-col>
			</v-row>
		</v-expansion-panel-content>
	</v-expansion-panel>
</template>

<script>
import { mapState } from 'vuex';
export default {
	name: 'Informacion',
	computed: {
		...mapState({
			orden: state => state.Ordenes.resource,
			paciente: state => state.Ordenes.paciente,
			doctor: state => state.Ordenes.doctor
		})
	}
};
</script>
