<!-- eslint-disable -->
<template>
	<v-card height="100%" v-if="orden">
		<v-expansion-panels multiple v-model="expandidos">
			<Informacion />
			<Pagos />
		</v-expansion-panels>
		<v-card-actions>
			<v-btn color="primary" @click="regresar">regresar</v-btn>
		</v-card-actions>
	</v-card>
</template>

<script>
import { mapState } from 'vuex';
import Informacion from './PanelInfo';

import Pagos from './PanelPagos';

export default {
	name: 'Show',
	data: () => ({
		expandidos: []
	}),
	components: { Informacion, Pagos },
	computed: {
		...mapState({
			orden: state => state.Ordenes.resource
		})
	},
	mounted() {
		if (!this.orden) {
			this.$store.dispatch('Ordenes/showOrden', {
				id: this.$route.params.id,
				folio: null
			});
		}
		if (process.env.NODE_ENV === 'development') {
			this.expandidos = [2];
		}
	},
	methods: {
		regresar() {
			this.$router.push({ name: 'ordenes' }).catch(() => {});
		}
	}
};
</script>
