<!-- eslint-disable -->
<template>
	<v-card height="100%" v-if="cargado">
		<v-card-text>
			Usuario: {{ user.name }} <br />
			Correo: {{ user.email }} <br />
			<template v-if="user.rol_asignado">
				Rol asignado: {{ user.rol_asignado }} <br />
			</template>
			<strong>Notas:</strong> <br />
			<ol>
				<li>
					Cuando se ASIGNA o ELIMINA un ROL todos los permisos anteriores se
					eliminan
				</li>
				<li>
					Si el usuario tiene asignado un rol, se le pueden asignar permisos
					adicionales
				</li>
			</ol>
		</v-card-text>
		<v-card-text>
			<v-row>
				<v-col>
					<v-select
						dense
						:items="tipos"
						v-model="seleccionado"
						label="Seleccione Roles o Permisos"
						outlined
						small-chips
					/>
				</v-col>
			</v-row>
		</v-card-text>
		<v-card-text v-if="seleccionado == 'Roles'">
			<v-select
				dense
				outlined
				label="Seleccione el Rol"
				v-model="user.role"
				:items="roles"
				item-value="name"
				:item-text="tituloRol"
				small-chips
				clearable
			/>
		</v-card-text>
		<v-card-text v-if="seleccionado == 'Permisos'">
			<v-row>
				<v-col cols="12" md="4" v-for="modulo in modulos" :key="modulo">
					<v-card class="mt-3" height="98%">
						<v-card-title> MÓDULO {{ modulo }} </v-card-title>
						<v-card-text>
							<v-checkbox
								v-for="permiso in buscar(modulo)"
								:key="permiso.value"
								v-model="user.permisos"
								:label="permiso.text"
								:value="permiso.value"
							/>
						</v-card-text>
					</v-card>
				</v-col>
			</v-row>
		</v-card-text>
		<v-card-actions>
			<v-btn :disabled="deshabilitar" color="success" @click="enviar">
				guardar
			</v-btn>
			<v-btn color="error" @click="$router.push({ name: 'users' })">
				cancelar
			</v-btn>
		</v-card-actions>
	</v-card>
</template>

<script>
import { mapActions, mapMutations, mapState } from 'vuex';
export default {
	name: 'Abilities',
	data: () => ({
		tipos: ['Roles', 'Permisos'],
		seleccionado: undefined,
		original: undefined
	}),
	computed: {
		...mapState({
			user: state => state.Users.resource,
			abilities: state => state.Users.abilities,
			roles: state => state.Users.roles,
			isLoading: state => state.Users.loader
		}),
		modulos() {
			let filtrados = this.abilities.filter(x => x.modulo);
			return [...new Set(filtrados.map(x => x.modulo))].sort();
		},
		modificado() {
			return JSON.stringify(this.user) !== JSON.stringify(this.original);
		},
		cargado() {
			return this.user ? true : false;
		},
		deshabilitar() {
			if (this.isLoading) {
				return true;
			}
			if (!this.modificado) {
				return true;
			}
			return false;
		}
	},
	mounted() {
		if (!this.cargado) {
			this.getAbilities(this.$route.params.id);
		}
		this.original = Object.assign({}, this.user);
	},
	watch: {
		user: function(val) {
			this.original = Object.assign({}, val);
		},
		seleccionado: function(val) {
			if (val) {
				this.setResource(this.original);
			}
		}
	},
	methods: {
		...mapMutations('Users', ['setResource']),
		...mapActions('Users', ['getAbilities', 'sendAbilities', 'setRole']),
		buscar(modulo) {
			return this.abilities.filter(x => x.modulo == modulo);
		},
		enviar() {
			if (this.seleccionado == 'Roles') {
				this.setRole();
			} else {
				this.sendAbilities();
			}
		},
		tituloRol(role) {
			return `${role.title}  ( ${role.description} )`;
		}
	}
};
</script>
<style lang="scss" escoped>
.v-input--selection-controls {
	margin-top: 1px !important;
	padding-top: 0px !important;
}
</style>
