<!-- eslint-disable -->
<template>
	<v-card height="100%" v-if="cargado">
		<v-form @submit.prevent="storeUser">
			<v-card-text>
				<div class="mt-3">
					<v-row>
						<v-col cols="12" sm="6" md="4">
							<v-text-field
								outlined
								dense
								type="text"
								label="Nombre"
								v-model="user.name"
								:error-messages="errors.name"
							/>
						</v-col>
						<v-col cols="12" sm="6" md="4">
							<v-text-field
								outlined
								dense
								type="email"
								label="Correo"
								v-model="user.email"
								:error-messages="errors.email"
							/>
						</v-col>
						<v-col cols="12" sm="6" md="4">
							<v-text-field
								outlined
								dense
								type="text"
								label="Teléfono"
								v-model="user.telefono"
								:error-messages="errors.telefono"
							/>
						</v-col>
					</v-row>
					<v-row v-if="user.id">
						<v-col cols="12" md="2">
							<v-text-field
								dense
								outlined
								label="Hora de Entrada"
								v-model="user.entrada"
								type="time"
							/>
						</v-col>
						<v-col cols="12" md="2">
							<v-text-field
								dense
								outlined
								label="Hora de Salida"
								v-model="user.salida"
								type="time"
							/>
						</v-col>
					</v-row>
				</div>
			</v-card-text>
			<v-card-actions>
				<v-btn color="success" type="submit" :disabled="loading">
					{{ title }}
				</v-btn>
				<v-btn color="error" @click="$router.push({ name: 'users' })">
					cancelar
				</v-btn>
			</v-card-actions>
		</v-form>
	</v-card>
</template>

<script>
import { mapActions, mapMutations, mapState } from 'vuex';
export default {
	name: 'Formulario',
	computed: {
		...mapState({
			errors: state => state.errors,
			user: state => state.Users.resource,
			loading: state => state.Users.loader
		}),
		title() {
			return this.user.id ? 'actualizar' : 'guardar';
		},
		cargado() {
			return this.user ? true : false;
		}
	},
	mounted() {
		if (!this.cargado) {
			if (this.$route.params.id) {
				this.getUser(this.$route.params.id);
			} else {
				this.setResource({});
			}
		}
	},
	methods: {
		...mapActions('Users', ['getUser', 'storeUser']),
		...mapMutations('Users', ['setResource'])
	}
};
</script>
