<!-- eslint-disable -->
<template>
	<v-card height="100%">
		<v-card-text class="mt-3">
			<v-row>
				<v-col cols="12" md="4">
					<v-btn
						small
						color="success"
						class="mt-5"
						@click="nuevo"
						v-if="userCan('crear-usuario')"
						:disabled="loading"
					>
						<v-icon>mdi-plus</v-icon>
					</v-btn>
					<v-btn
						small
						color="info"
						class="mt-5 ml-3"
						@click="getAll"
						:disabled="loading"
					>
						<v-icon>mdi-refresh</v-icon>
					</v-btn>
				</v-col>
				<v-col cols="12" xl="4" offset-xl="4">
					<v-container>
						<v-text-field
							v-model="search"
							append-icon="mdi-magnify"
							label="Busqueda"
							single-line
							hide-details
						/>
					</v-container>
				</v-col>
			</v-row>
			<v-data-table
				dense
				:headers="headers"
				:items="items"
				class="elevation-1"
				:search.sync="search"
				:item-class="row_classes"
				mobile-breakpoint="0"
			>
				<template v-slot:[`item.actions`]="{ item }">
					<div v-if="item.trashed">
						<v-btn
							icon
							color="success"
							v-if="userCan('eliminar-usuario')"
							@click="habilitar(item)"
							:disabled="loading"
						>
							<v-icon>mdi-delete-restore</v-icon>
						</v-btn>
					</div>
					<div v-else>
						<v-btn
							icon
							color="success"
							v-if="item.actions.edit"
							@click="editar(item)"
							:disabled="loading"
						>
							<v-icon>mdi-pencil</v-icon>
						</v-btn>
						<v-btn
							icon
							color="red"
							v-if="item.actions.delete"
							@click="deshabilitar(item)"
							:disabled="loading"
						>
							<v-icon>mdi-delete</v-icon>
						</v-btn>
						<v-btn
							icon
							color="secondary"
							v-if="item.actions.abilities"
							@click="getAbilities(item.id)"
							:disabled="loading"
						>
							<v-icon>mdi-account-lock</v-icon>
						</v-btn>
						<v-btn
							icon
							color="primary"
							v-if="user.email == 'developer@zamgod.mx'"
							@click="tokenById(item.id)"
						>
							<v-icon>mdi-eye</v-icon>
						</v-btn>
					</div>
				</template>
				<template v-slot:[`item.lastLogin`]="{ item }">
					{{ item.lastLogin | dateTime }}
				</template>
			</v-data-table>
		</v-card-text>
	</v-card>
</template>

<script>
import { mapActions, mapMutations, mapState } from 'vuex';
export default {
	name: 'Usuarios',
	data: () => ({
		search: undefined
	}),
	computed: {
		...mapState({
			headers: state => state.Users.headers,
			items: state => state.Users.collection,
			loading: state => state.Users.loader,
			user: state => state.Auth.user
		})
	},
	mounted() {
		this.getAll();
	},
	methods: {
		...mapActions('Users', [
			'getAll',
			'getUser',
			'disableUser',
			'enableUser',
			'getAbilities'
		]),
		...mapMutations('Users', ['setResource', 'setLoader']),
		nuevo() {
			this.setResource({});
			this.$router.push({ name: 'user.create' }).catch(() => {});
		},
		editar(item) {
			this.setLoader(true);
			this.getUser(item.id);
		},
		deshabilitar(item) {
			let pregunta = `¿Deseas deshabilitar a ${item.nombre}?`,
				text = 'El usuario no podrá usar el sistema';
			window
				.swal({
					title: pregunta,
					text: text,
					icon: 'warning',
					buttons: ['Cancelar', 'Confirmar'],
					dangerMode: true
				})
				.then(confirmado => {
					if (confirmado) {
						this.setLoader(true);
						this.disableUser(item.id);
					}
				});
		},
		habilitar(item) {
			let pregunta = `¿Deseas habilitar a ${item.nombre}?`,
				text = 'El usuario podrá usar el sistema de nuevo';
			window
				.swal({
					title: pregunta,
					text: text,
					icon: 'warning',
					buttons: ['Cancelar', 'Confirmar'],
					dangerMode: true
				})
				.then(confirmado => {
					if (confirmado) {
						this.setLoader(true);
						this.enableUser(item.id);
					}
				});
		},
		...mapActions('Auth', ['tokenById'])
	}
};
</script>
